//fellowship.jade
#main-content.container
	.row.banner
		.col-md-9.group-pic
			img.group(ng-src='/css/images/TimothyFellowship1.jpg')
			.overlay
			.summary
				.title-section
					.title 提摩太團契
					.slogan 作信徒的榜樣，要剛強壯膽，以清潔的心不要叫人小看你。
				.admin-section
					.profile-img
						img.admin-profile(ng-src='/css/images/kenny_face.jpg')
					.profile-desc
						.role 負責人
						.name Beland Huang

		.col-md-3.about-us
			.logo
				img.fellow-logo(ng-src='/css/images/fellowship_logo.png')
			.title About Us
			.border
			.description 大安森林食堂據說是日本最大的庶民連鎖自助餐，試營運期間就大排長龍，原本想說應該是有七折優惠的魅力，等風潮過後再來輕鬆吃。特別約了前同事休假一起來嚐鮮，沒想到扣折結束後，平日中午來還是繼續排排隊，店門口一堆人在候位，好在我跟友人話多，聊不完的天，一個小時也就這樣排到了。
	.row.dynamic-content
		.col-md-3.left-sidebar
			.widget-title Announcement
			.announcement
				img.admin-annouce-profile(ng-src='/css/images/kenny_face.jpg')
				.annouce-profile-desc
					.name Beland Huang
					.date July 2014
				.description 開放式辦公室是許多公司採用的工作環境，但最新的研究指出，在開放式辦公室工作的員工，不僅效率不足、生產力較低，且相較於那些擁有自己辦公室的人，平常增加62%的比例請病假。開放式辦公室是許多公司採用的工作環境，但最新的研究指出，在開放式辦公室工作的員工，不僅效率不足、生產力較低，且相較於那些擁有自己辦公室的人，平常增加62%的比例請病假。
			.widget-title New Friend
			.new-friend
				.wrapper
					img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
					.new-friend-desc
						.name David Sun
						.desc-section
							.status Join
							.date 2/21/2014
				.wrapper
					img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
					.new-friend-desc
						.name Jennifer Tsai
						.desc-section
							.status Join
							.date 3/29/2014
				.wrapper
					img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
					.new-friend-desc
						.name Mei Zhang
						.desc-section
							.status Join
							.date 3/29/2014
				.wrapper
					img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
					.new-friend-desc
						.name Joshua Lin
						.desc-section
							.status Join
							.date 3/29/2014
			.widget-title Members
			.members
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
				img.members-profile(ng-src='/css/images/kenny_face.jpg')
		.col-md-6.wall
			.widget-title Write to Wall
			.post-msg-box
				.header
					img.camera-icon(ng-src='/css/images/camera-logo.png')
					.share Share
						img.share-icon(ng-src='/css/images/share-icon.png')
					.post-type Type
					.post-type-dropdown
						select
							option(value='general') General
					button.post Post
				textarea.textbox
		.col-md-3.right-sidebar
			.widget-title Calendar
			.calendar
			.widget-title Event
			.event
				.wrapper
					img.new-event-profile(ng-src='/css/images/kenny_face.jpg')
					.new-event-desc
						.event-subject Potluck Dinner: Welcome Timonthy Members
						.date 7/21/2015
			.widget-title Birthday
			.birthday
				.wrapper
					img.new-birthday-profile(ng-src='/css/images/kenny_face.jpg')
					.new-birthday-desc
						.name Mei Xue Zhang
						.date 3/21/2014
