.new-friend
	.wrapper
		img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
		.new-friend-desc
			.name(ng-bind-template="{{fellowshipUser.firstName}} {{fellowshipUser.lastName}}")&nbsp
			.desc-section
				.status(ng-bind-template="{{fellowshipUser.status}}")&nbsp
				.date(ng-bind-template="{{fellowshipUser.signupDate}}")&nbsp

	//.wrapper
	//	img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
	//	.new-friend-desc
	//		.name Jennifer Tsai
	//		.desc-section
	//			.status Join
	//			.date 3/29/2014
	//.wrapper
	//	img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
	//	.new-friend-desc
	//		.name Mei Zhang
	//		.desc-section
	//			.status Join
	//			.date 3/29/2014
	//.wrapper
	//	img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
	//	.new-friend-desc
	//		.name Joshua Lin
	//		.desc-section
	//			.status Join
	//			.date 3/29/2014