.members
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')
	img.members-profile(ng-src='/css/images/kenny_face.jpg')