.jumbotron
	.container
		.row
			h4.create-fellowship.info.text-grey Create Fellowship
		.row
			.fellowship-info.col-md-6
				.form-label FELLOWSHIP NAME
				input.form-control(ng-model='fellowshipName')

			.fellowship-info.col-md-6
				.form-label ASSOCIATED CHURCH NAME
				input.form-control(ng-model='churchName')
		.row
			.fellowship-info.col-md-6
				.form-label FELLOWSHIP ADDRESS
				input.form-control.address(ng-model='street',placeholder='street')
				input.form-control.city(ng-model='city',placeholder='city')
				input.form-control.state(ng-model='state',placeholder='state')
				input.form-control.country(ng-model='country',placeholder='country')
				input.form-control.zipcode(ng-model='zipcode',placeholder='zipcode')
				input.form-control.phone(ng-model='phone',placeholder='phone#')

			.fellowship-info.col-md-6
				.form-label ABOUT FELLOWSHIP
				textarea.form-control(ng-model='aboutFellowship')

		.row
			.fellowship-info.col-md-12
				button.btn.btn-primary.pull-right(ng-click='createFellowship()') CREATE