//fellowship-members.jade
#members-page
	.member-card-section.container
		.row.tool-bar
			.col-xs-12
				div.glyphicon.glyphicon-home
				div.tool-bar__links
					a(ng-href="#" ng-click="goto('')") Home
					a(ng-href="#" ng-click="goto('members')") Members
					a(ng-href="/album") Albums
					a(ng-href="#") Resource
				a.tool-bar_setting.glyphicon.glyphicon-cog(ng-href="#")
		.row
			.member-menu
				.member-menu__title
					h3 
						.glyphicon.glyphicon-user
						| 23 Members
				.member-menu__links
					a(ng-click='setMemberFilter("all")')
						| All
						span.badge 23
					a(ng-click='setMemberFilter("admin")')
						| Admin
						span.badge 4
					a(ng-click='setMemberFilter("new")')
						| New
						span.badge 2
					a(ng-click='setMemberFilter("pending")')
						| Pending
						span.badge 3
					a Invite Others
		.row
			ocfc-member-card(user="user", is-current-user-admin="FellowshipDataSvc.isAdmin", ng-repeat='user in FellowshipDataSvc.users |filter:membersCondition')
		.row(ng-show='false')
			button.form-control.btn.btn-primary.invite-friends(ng-click="showInviteFriend = true;") 
				span.glyphicon.glyphicon-user
				| INVITE FRIENDS
			a(ng-click="showInviteFriend = false;") close
			.invite-widget.am-fade-and-slide-top(ng-if='showInviteFriend')
				.invite-widget__title
					h3
						span.glyphicon.glyphicon-user
						| Please provide emails to invite people to join.
				.invite-widget__add-emails
					.input-bar
						input.form-control(type="text", placeholder="add email here.")
						button.form-control.btn.btn-default
							span.glyphicon.glyphicon-plus
					ul.email-lists.list-group
						li.list-group-item yoyocicada@gmail.com
						li.list-group-item butterfly43026@gmail.com
				.invite-widget__message
						textarea.ocfc.form-control.message(placeholder="Include a welcome message here.")
				.invite-widget__bottom
					button.pull-right.form-control.btn.btn-primary
						span.glyphicon.glyphicon-send
						| SEND
					
				
