//fellowship.jade
#fellowship.container
	.container.fellow-banner
			.row
				.col-md-9.fellow-banner__group-pic
					img(ng-src='/css/images/TimothyFellowship1.jpg')
					.fellow-banner__overlay
					.fellow-banner__summary
						.fellow-banner__title-section
							.fellow-banner__title 提摩太團契
							.fellow-banner__slogan 作信徒的榜樣，要剛強壯膽，以清潔的心不要叫人小看你。
						.fellow-banner__admin-section
							.fellow-banner__profile-img
								img(ng-src='/css/images/kenny_face.jpg')
							.fellow-banner__profile-desc
								.fellow-banner__role 負責人
								.fellow-banner__name Beland Huang
				.col-md-3.fellow-banner__about-us
					.fellow-banner__logo
						img.fellow-logo(ng-src='/css/images/fellowship_logo.png')
					.fellow-banner__logo__title About Us
					.fellow-banner__logo__border
					.fellow-banner__logo__description 大安森林食堂據說是日本最大的庶民連鎖自助餐，試營運期間就大排長龍，原本想說應該是有七折優惠的魅力，等風潮過後再來輕鬆吃。特別約了前同事休假一起來嚐鮮，沒想到扣折結束後，平日中午來還是繼續排排隊，店門口一堆人在候位，好在我跟友人話多，聊不完的天，一個小時也就這樣排到了。
	.container.dynamic-content
		.row
			.col-md-3.dynamic-content__left-sidebar
				.widget-title-wo-link Announcement
				ocfc-announcement(users='FellowshipDataSvc.users')
				.widget-title-wo-link New Friend
				ocfc-new-friend(users='FellowshipDataSvc.users')
				.widget-title-wo-link Members
				ocfc-members(users='FellowshipDataSvc.users')
			.col-md-6.dynamic-content__wall
				.widget-title-wo-link Write to Wall
				ocfc-wall-input(posts='posts')
				div.post(ng-repeat='post in posts')
					ocfc-general-post(ng-if='post.postType ===0',post='post',image-popup='imagePopup',posts='posts')
					ocfc-testimony-post(ng-if='post.postType ===1',post='post',image-popup='imagePopup',posts='posts')
					ocfc-question-post(ng-if='post.postType ===2',post='post',image-popup='imagePopup',posts='posts')
					ocfc-prayer-post(ng-if='post.postType ===3',post='post')
					ocfc-event-post(ng-if='post.postType ===4',post='post')
			.col-md-3.dynamic-content__right-sidebar
				.widget-title-wo-link Calendar
				ocfc-calendar(users='FellowshipDataSvc.users')
				.widget-title-wo-link Event
				ocfc-event(users='FellowshipDataSvc.users')
				.widget-title-wo-link Birthday
				ocfc-birthday(users='FellowshipDataSvc.users')

ocfc-full-image-viewer(ng-show='imagePopup.isPopupOpen',image-popup='imagePopup')