//fellowship-members.jade
#members-page
	.member-card-section.container
		.row.tool-bar
			.col-xs-12
				div.glyphicon.glyphicon-home
				div.tool-bar__fellow-name {{FellowshipDataSvc.fellowship.name| capitalize}}
				div.tool-bar__links
					a(ng-href="#" ng-click="goto('')") Home
					a(ng-href="#" ng-click="goto('members')") Members
					a(ng-href="#" ng-click="goto('album')") Albums
					a(ng-href="#") Resource
				a.tool-bar_setting.glyphicon.glyphicon-cog(ng-href="#")
		.row
			.member-menu
				.member-menu__title
					h3 
						.glyphicon.glyphicon-user
						| {{allMembers.length}} Members
				.member-menu__links
					a(ng-click='selectedMemberType="all"')
						| All
						span.badge {{allMembers.length}}
					a(ng-click='selectedMemberType="admin"')
						| Admin
						span.badge {{adminMembers.length}}
					a(ng-click='selectedMemberType="new"')
						| New
						span.badge {{newMembers.length}}
					a(ng-click='selectedMemberType="pending"')
						| Pending
						span.badge {{pendingMembers.length}}
					a(ng-click='selectedMemberType="invite"') Invite Others
		.row(ng-show="selectedMemberType=='all'")
			ocfc-member-card(user="user", is-current-user-admin="FellowshipDataSvc.isAdmin", ng-repeat="user in $parent.allMembers=(FellowshipDataSvc.users |filter:{'status':'approved'})")
		.row(ng-show="selectedMemberType=='admin'")
			ocfc-member-card(user="user", is-current-user-admin="FellowshipDataSvc.isAdmin", ng-repeat="user in $parent.adminMembers=(FellowshipDataSvc.users |filter: filterAdmin)")
		.row(ng-show="selectedMemberType=='pending'")
			ocfc-member-card(user="user", is-current-user-admin="FellowshipDataSvc.isAdmin", ng-repeat="user in $parent.pendingMembers=(FellowshipDataSvc.users |filter:{'status':'pending'})")
		.row(ng-show="selectedMemberType=='new'")
			ocfc-member-card(user="user", is-current-user-admin="FellowshipDataSvc.isAdmin", ng-repeat="user in $parent.newMembers=(FellowshipDataSvc.users |filter:newCondition)")			
		.row.invite-friend(ng-show="selectedMemberType=='invite'")
			.jumbotron
				h3 Invite others to join!
				button.form-control.btn.btn-primary.invite-friends(ng-click="showInviteFriend = true;") 
					span.glyphicon.glyphicon-user
					| INVITE FRIENDS
			.invite-widget.am-fade-and-slide-top(ng-show='showInviteFriend')
				.invite-widget__add-emails
					.input-bar
						input.form-control(type="text", ng-model='nameEmailObj.inputNameEmail', placeholder="name, email")
						button.form-control.btn.btn-default(ng-click='enterEmail()')
							span.glyphicon.glyphicon-plus
					.error.alert.alert-danger(ng-show="inputNameEmailError!==''") {{inputNameEmailError}}
					.message(ng-if='nameEmails.length==0') You have not added any invitees.
					ul.email-lists.list-group(ng-if='nameEmails.length!=0')
						li.list-group-item(ng-repeat="nameEmail in nameEmails") 
							|{{nameEmail.name}}, {{nameEmail.email}}
							span.glyphicon.glyphicon-remove.pull-right(ng-click='removeEmail($index)')
				.invite-widget__message
						textarea.ocfc.form-control.message(placeholder="Include a welcome message here." ng-model="message")
				.invite-widget__bottom
					button.pull-right.form-control.btn.btn-primary(ng-click='sendInvite()')
						span.glyphicon.glyphicon-send
						| SEND ({{nameEmails.length}})
					a.btn.btn-default.cancel.pull-right(ng-click="showInviteFriend = false;") close

			h4 You have invited 3 friends.
			table.table.table-striped.invited-list
				tr
					th.invitee Invitee
					th.invited-on Invited on
					th.status Status
					th.action Action
				tr(ng-repeat="invite in savedInvites")
					td {{invite.email}}
					td {{invite.invitedOn|date:mediumDate}}
					td {{invite.status}}
					td 
						.btn-group
							button.btn.btn-default(type='button', ng-click='deleteInvite($index, invite)') CANCEL
							button.btn.btn-default(type='button', ng-click='inviteAgain(invite)',ng-show='invite.status=="pending"') INVITE AGAIN				
.member-modal-wrapper
	.member-modal
		.member-modal__header header
		.member-modal__body body
		.member-modal__footer footer
