//fellowship.jade
#fellowship.container
	.row
		.col-xs-12.tool-bar
	.row
		.col-xs-5.info-section
			div.fellow-banner
				.fellow-banner__background
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/w_413,h_243,c_fill,g_faces/{{FellowshipDataSvc.fellowship.bannerImage}}')
				.fellow-banner__edit-delete(ng-show='!showEdit', ng-if='FellowshipDataSvc.isAdmin')
					span.glyphicon.glyphicon-camera.camera-icon(ng-file-select='editFellowshipImage($files,"banner")', data-multiple='false', title='profile', onclick='this.value = null')
					span.glyphicon.glyphicon-trash(ng-click="deleteFellowshipImage('logo')")
				.fellow-banner__title
					img(ng-mouseenter='showLogoImgEdit=true',ng-mouseleave='showLogoImgEdit=false',ng-src='https://res.cloudinary.com/ocfc/image/upload/w_110,h_110,c_fill,g_faces/{{FellowshipDataSvc.fellowship.logoImage}}')
					h3 {{FellowshipDataSvc.fellowship.name| capitalize}}
					p 作信徒的榜樣，要剛強壯膽。
				.fellow-banner__logo-edit-delete(ng-show='showLogoImgEdit', ng-if='FellowshipDataSvc.isAdmin')
					span.glyphicon.glyphicon-camera.camera-icon(ng-file-select='editFellowshipImage($files,"logo")', data-multiple='false', title='profile', onclick='this.value = null')
					span.glyphicon.glyphicon-trash(ng-click="deleteFellowshipImage('banner')")

			.widget-title-wo-link
				h3 About Us
			ocfc-about-us(fellowship='FellowshipDataSvc.fellowship',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',is-admin='FellowshipDataSvc.isAdmin')
			div(data-offset-top="-50", bs-affix)
				div.fix-sidebar
					.widget-title-wo-link
						h3 Announcement
					ocfc-announcement(ng-repeat="post in posts|filter:{postType:5}|limitTo:1",users='FellowshipDataSvc.users',post='post',image-popup='imagePopup',dropdown='dropdown')
					.widget-title-wo-link
						h3 New Friend
					ocfc-new-friend(users='FellowshipDataSvc.users')
					.widget-title-wo-link 
						h3 Members
					ocfc-members(users='FellowshipDataSvc.users')
					//.widget-title-wo-link 
					//	h3 Calendar
					//ocfc-calendar(users='FellowshipDataSvc.users')
					.widget-title-wo-link 
						h3 Event
					ocfc-event(users='FellowshipDataSvc.users',post='post',image-popup='imagePopup',posts='posts')
					.widget-title-wo-link 
						h3 Birthday
					ocfc-birthday(users='FellowshipDataSvc.users')
		.col-xs-7.wall-section
			div.wall-filter
				div(ng-class='{active: selectedPostType===""}',ng-click='selectPostType("")') All
				div(ng-class='{active: selectedPostType===0}',ng-click='selectPostType(0)') General
				div(ng-class='{active: selectedPostType===1}',ng-click='selectPostType(1)') Testimony
				div(ng-class='{active: selectedPostType===2}',ng-click='selectPostType(2)') Question
				div(ng-class='{active: selectedPostType===3}',ng-click='selectPostType(3)') Prayer
				div(ng-class='{active: selectedPostType===4}',ng-click='selectPostType(4)') Event
				div(ng-class='{active: selectedPostType===5}',ng-click='selectPostType(5)') Announcement
			ocfc-wall-input(posts='posts')
			div.infinite-scroll(infinite-scroll='viewNextPage(selectedPostType)', infinite-scroll-distance='0')
				div.post(ng-repeat='post in posts')
					ocfc-general-post(ng-if='post.postType ===0',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
					ocfc-testimony-post(ng-if='post.postType ===1',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
					ocfc-question-post(ng-if='post.postType ===2',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
					ocfc-prayer-post(ng-if='post.postType ===3',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
					ocfc-event-post(ng-if='post.postType ===4',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
					ocfc-announcement-post(ng-if='post.postType ===5',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown',image-prefix='imagePrefix')
ocfc-full-image-viewer(ng-show='imagePopup.isPopupOpen',image-popup='imagePopup',image-prefix='imagePrefix')
