#standardCol
	.well
		.banner
			img(src='/css/images/IMG_5501.JPG')
		.fellow-name.h2 {{name}}
		#about.p {{about}}
		#photos
			ul.media-list
				li.media
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
					a.pull-left(ng-href="/fellowship/{{post.fellow_object_id}}/photo")
						img.media-object(src='/css/images/IMG_5501.jpg', alt='...')
		#members
			a(href='/fellowship/{{post.fellow_object_id}}/members')
				p 12 members

	#columns.well
		.row
			.col-xs-4
				h4 What's new
			.col-xs-4
				h4 Schedule
			.col-xs-4
				h4 Sharing