//fellowship.jade
#fellowship.container
	.row
		.col-xs-12.tool-bar
	.row
		.col-xs-5.info-section
			div.fellow-banner
				.fellow-banner__background
					img(ng-src='/css/images/TimothyFellowship1.jpg')
				.fellow-banner__title
					img(ng-src='http://res.cloudinary.com/ocfc/image/upload/v1421100477/54a0f90399b81bbbb99a0091avatar.jpg')
					h3 提摩太團契
					p 作信徒的榜樣，要剛強壯膽。
			.widget-title-wo-link
				h3 About Us
			.widget-title-wo-link
				h3 Announcement
			ocfc-announcement(ng-repeat='post in posts |filter:comingAnnouncements',users='FellowshipDataSvc.users',post='post',image-popup='imagePopup',posts='posts')
			.widget-title-wo-link 
				h3 New Friend
			ocfc-new-friend(users='FellowshipDataSvc.users')
			.widget-title-wo-link 
				h3 Members
			ocfc-members(users='FellowshipDataSvc.users')
			.widget-title-wo-link 
				h3 Calendar
			ocfc-calendar(users='FellowshipDataSvc.users')
			.widget-title-wo-link 
				h3 Event
			ocfc-event(users='FellowshipDataSvc.users',post='post',image-popup='imagePopup',posts='posts')
			.widget-title-wo-link 
				h3 Birthday
			ocfc-birthday(users='FellowshipDataSvc.users')
		.col-xs-7.wall-section
			div.wall-filter
				div.active All
				div General
				div Testimony
				div Prayer
				div Question
				div Event
			ocfc-wall-input(posts='posts')
			div.post(ng-repeat='post in posts')
					ocfc-general-post(ng-if='post.postType ===0',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown')
					ocfc-testimony-post(ng-if='post.postType ===1',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown')
					ocfc-question-post(ng-if='post.postType ===2',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown')
					ocfc-prayer-post(ng-if='post.postType ===3',post='post')
					ocfc-event-post(ng-if='post.postType ===4',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown')
					ocfc-announcement-post(ng-if='post.postType ===5',post='post',image-popup='imagePopup',posts='posts',dropdown='dropdown')
			.widget-title-wo-link Write to
				h3 Wall
			ocfc-wall-input(posts='posts')

ocfc-full-image-viewer(ng-show='imagePopup.isPopupOpen',image-popup='imagePopup')