#standardCol
    .jumbotron
        #members
            .list-page
                h2 Members
                .member-wrapper(ng-repeat='member in members')
                    .well.well-lg.member
                        .row
                          .col-xs-4
                            img(src='../css/images/kenny_face.jpg')
                          .col-xs-4
                            h8 {{member.firstName}} {{member.lastName}}
                          #status-margin.col-xs-4
                            h8 {{member.status}}
                        .btn-group.pull-right
                            button.btn.btn-default(type='button',ng-click='approveMember(member)',ng-show="member.status=='Pending'") Approve
                            button.btn.btn-default(type='button',ng-show="member.status=='Pending'",ng-click="setModalMemberIndex($index)", data-toggle="modal",data-target="#RejRemvConfirmation") Reject
                            button.btn.btn-default(type='button',ng-show="member.status=='Approved'",ng-click="setModalMemberIndex($index)", data-toggle="modal",data-target="#RejRemvConfirmation") Remove
//ng-click='removeMember(member, $index)'

#RejRemvConfirmation.modal.fade
    .modal-dialog.modal-dialog-center
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title Please provide reason for remove or reject:
          .modal-body
            textarea.form-control(rows='4')
          .modal-footer
            button.btn.btn-primary(type='button',ng-click='removeMember()') Confirm
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        //
           /.modal-content
      //
         /.modal-dialog
    //
       /.modal
