.type-container
	p Type
	.button.btn.btn-default(type='button', data-toggle='dropdown') {{transformType(type)}}
		span.caret
	ul.dropdown-menu(role='menu')
		li
			a(href='#',ng-click='onClickType("general")') General
		li
			a(href='#',ng-click='onClickType("question")') Question
		li
			a(href='#',ng-click='onClickType("testimony")') Testimony
