#user-comment-input.div.col-xs-12
	.icon.col-xs-2
		img(src='/css/images/kenny_face.jpg')
	.text-input.col-xs-8
		textarea.post-input.form-control(type='text',placeholder="Write your thoughts")
	.post-comment.col-xs-2
		button.btn.btn-default.btn-sm(type='button') Post