.visibility-container
	p Visible To
	.button.btn.btn-default(type='button', data-toggle='dropdown',ng-init="currVisibility=visibilityOptions[0]",ng-model='currVisibility',ng-options='visibilityOption.name for visibilityOption in visibilityOptions') Fellowship
		span.caret
	ul.dropdown-menu(role='menu')
		li
			a(href='#') Church
		li
			a(href='#') World
		li
			a(href='#') Public