#standardCol
	#post-widget.well
		.post-header-row.col-xs-12
			.post-header-title.col-xs-2
				p Make a
				ocfc-wall-category
		textarea.post-input.form-control(type='text',ng-show='isPostShown', ng-model='post.content',placeholder='{{placeholder}}')
		.post-footer.row
			ocfc-post-types(ng-show='isPostShown')
			ocfc-view-permission(ng-show='isPostShown')
			ocfc-post-icons(ng-show='isPostShown')
			.post-button-container
				button.btn.btn-default.btn-sm(type='submit',ng-click='createPost($event)',ng-show='isPostShown') Post
	#post-feed.well
		ocfc-filter-by-types
		.date-feed-status
			div	Today
		.question-feed-display
			well.well-sm.type-icon
				span.glyphicon.glyphicon-question-sign Question
			well.div.vertical-line.timeline
			ocfc-user-image
			well.well-sm.post-content
				ocfc-post-heading
				.post-content-input "Post Content goes here"
				ocfc-post-res-icons
				.user-comment
					ocfc-user-image
					.content
						p This is a great question!
						p Jane 10:20PM
				ocfc-user-comment-input

		.testimony-feed-display.well
			well.well-sm.type-icon
				span.glyphicon.glyphicon-text-width Testimony
			well.div.vertical-line.timeline
			ocfc-user-image
			well.well-sm.post-content
				div.name-heading Kenny Chung 9:24PM
				div.post-title Post Title Goes Here XXXXXXXXXXXXXXXXXXXXX
				.post-content-input "Post Content goes here"
				ocfc-post-res-icons
				.user-comment
					ocfc-user-image
					.content
						p This is a great testimony!
						p Jane 10:20PM
				ocfc-user-comment-input

		.general-feed-display.well
			well.well-sm.type-icon
				span.glyphicon.glyphicon-align-justify General
			well.div.vertical-line.timeline
			ocfc-user-image
			well.well-sm.post-content
				ocfc-post-heading
				div.gen-post-content
					div.lg-content
						ocfc-user-image
					div.sm-contents
						div.sm-content1
							img(src='/css/images/kenny_face.jpg')
						div.sm-content2
							img(src='/css/images/kenny_face.jpg')
				div.gen-post-text Bunch of text goes here..............
				ocfc-post-res-icons
				.user-comment
					ocfc-user-image
					.content
						p This is a great general post!
						p Jane 10:20PM
				ocfc-user-comment-input

		.event-feed-display.well
			well.well-sm.type-icon
				span.glyphicon.glyphicon-calendar Event
			well.div.vertical-line.timeline
			ocfc-user-image
			well.well-sm.post-content
				ocfc-post-heading
				div.event-container
					div.date-info
						div.date.mm-yy 3/14
						div.date.event-time 3PM-4PM
					div.event-info
						div.event-title Annual BBQ event at CCIC room #211
						div.event-detail-info
							div.event-description xxxxdescription goes here xxxxxx
							div.response.invited
								div.invited-num 25
								div.invited-label invited
							div.response.replied
								div.replied-num 2
								div.replied-label replied
							div.response.denied
								div.denied-num 30
								div.denied-label denied

				ocfc-post-res-icons
				.user-comment
					ocfc-user-image
					.content
						p This is a great event!
						p Jane 10:20PM
				ocfc-user-comment-input
