.members-widget(ng-repeat='user in users')
	a.members-widget__link(href="http://onechurchforchrist.org/fellowship/{{user.fellowshipId}}/members")
		img.members-widget__profile(ng-src='{{user.userId.profileImg}}')

