.jumbotron
	.container
		.row
			button.left-click(ng-click='backImage()') <
			button.right-click(ng-click='nextImage()') >
			.current-image-viewer
				img(ng-src='{{selectedImage}}')
			.image-comment
				img(ng-src='{{post.postBy.profileImg}}')
				.image-comment__user-info
					.image-comment__user-name {{post.postBy.fullName}} Mei Zhang
					.image-comment__post-date {{post.createdOn | date}} 7/22/2013
