fieldset
	.col-xs-12
		nav.tool-bar
			.glyphicon.glyphicon-home
			.tool-bar__fellow-name {{FellowshipDataSvc.fellowship.name| capitalize}}
			div.tool-bar__links
				a(ng-href="#", ng-click="goto('')") Home
				a(ng-href="#", ng-click="goto('members')") Members
				a(ng-href="#", ng-click="goto('albums')") Albums
				a(ng-href="#") Resource
				a.tool-bar_setting.glyphicon.glyphicon-cog(ng-href="#")