ocfc-general-post(ng-switch-default='general')
ocfc-testimony-post(ng-switch-when='testimony')
ocfc-prayer-post(ng-switch-when='prayer')
ocfc-question-post(ng-switch-when='question')
ocfc-event-post(ng-switch-when='event')