.dynamic-content__right-sidebar__birthday
	.dynamic-content__birthday__wrapper(ng-repeat='user in users |filter:comingBirthdays')
		img.dynamic-content__wrapper__new-birthday-profile(ng-src='{{user.userId.profileImg}}')
		.dynamic-content__wrapper__new-birthday-desc
			.dynamic-content__new-birthday-desc__name {{user.userId.fullName}}
			.dynamic-content__new-birthday-desc__date {{user.userId.birthday|date:'MM/dd/yyyy'}}