.post-msg-box()
	.header
		img.camera-icon(ng-src='/css/images/camera-logo.png')
		.share Share
			img.share-icon(ng-src='/css/images/share-icon.png')
		.post-type Type
		.post-type-dropdown
			select
				option(value='general') General
		button.post Post
	textarea.textbox
