.event-widget(ng-repeat='post in posts |filter:upcomingEvents')
	.mini-calendar
		.date {{post.eventId.fromDate|date:'dd'}}
		.month {{post.eventId.fromDate|date:'MMM'}}
	.title {{post.eventId.title|capitalize}}
	.location {{post.eventId.where}}
