.birthday
	.wrapper(ng-repeat='user in users |filter:comingBirthdays')
		img.new-birthday-profile(ng-src='{{user.userId.profileImg}}')
		.new-birthday-desc
			.name {{user.userId.fullName}}
			.date {{user.userId.birthday|date:'MM/dd/yyyy'}}