.jumbotron
	.container
		.row
			button.left-click(ng-click='backImage()') <
			button.right-click(ng-click='nextImage()') >
			.current-image-viewer
				img(ng-src='{{selectedImage}}')
			.close-popup(ng-click='closePopup()') X
			.image-comment
				img(ng-src='{{imagePopup.selectedPost.postBy.profileImg}}')
				.image-comment__user-info
					.image-comment__user-name {{imagePopup.selectedPost.postBy.fullName}}
					.image-comment__post-date {{imagePopup.selectedPost.createdOn | date}}
