.members-widget(ng-repeat='fellowshipUser in fellowshipUsers')
	a.members-widget__link(href="http://onechurchforchrist.org/fellowship/{{fellowshipUser.fellowshipId}}/members")
		img.members-widget__profile(ng-src='{{fellowshipUser.userId.profileImg}}')

