.main-content--dynamic-content__right-sidebar__event
	.main-content--dynamic-content__right-sidebar__event__wrapper
		img.main-content--dynamic-content__right-sidebar__event__wrapper--new-event-profile(ng-src='/css/images/kenny_face.jpg')
		.main-content--dynamic-content__right-sidebar__event__wrapper--new-event-desc
			.event-subject Potluck Dinner: Welcome Timonthy Members
			.date 7/21/2015