.new-friend-widget(ng-repeat='user in users |filter:newFriends')
	img(ng-src='{{user.userId.profileImg}}')
	.name {{user.userId.fullName|capitalize}}
	.date {{user.userId.signupDate|date:'MM/dd/yyyy'}}