div.associated-fellowships
	div.fellowship-desc
		div.fellowship-name.text-black Timothy Fellowship
		div.fellowship-about.text-black xxxxxxxaboutxxxxx
	div.fellowship-details
		div.members
			span.members-num 10
			span.members-lbl members
		span.join.label.label-success Join

