.dynamic-content__right-sidebar__event
	.dynamic-content__event__wrapper
		img.dynamic-content__wrapper__new-event-profile(ng-src='/css/images/kenny_face.jpg')
		.dynamic-content__wrapper__new-event-desc
			.event-subject Potluck Dinner: Welcome Timonthy Members
			.date 7/21/2015