.dynamic-content__announcement
	img(ng-src='{{post.postBy.profileImg}}')
	.dynamic-content__annouce-profile-desc
		.name {{post.postBy.fullName}}
		.date {{post.createdOn | date}}
	.dynamic-content__announcement__description {{post.announcement[0].content}}
			