.explore-menu.animate-show(ng-show='exploreDropDown',ng-cloak, class="ng-cloak",ng-repeat='userFellowship in userFellowships')
	.explore-menu__content(ng-class='{hide: hideExploreContent}')
		.explore-menu__content-section
			.title Personal
			.description This is your personal space more text to take up space.
			.find-group Go to My Personal Page >
		.explore-menu__content-section
			.title Fellowship
			a.group(href='/fellowship/54913941aa6f4e0000642ae6',ng-click='exploreDropDown = !exploreDropDown') {{userFellowship.name}}
			a.find-group.label.label-primary(href="/find", ng-click='exploreDropDown = !exploreDropDown') Find a Fellowship >
			a.create-group.label.label-success(href='/createFellowship',ng-click='exploreDropDown = !exploreDropDown') Create Fellowship >
		.explore-menu__content-section(ng-repeat-end ng-repeat='userChurch in userChurches')
			.title Church
			a.group(href='/church/54755845e3d8ea9d8acd3d44',ng-click='exploreDropDown = !exploreDropDown') test{{userChurch.name}}
			.find-group Find a Church >
			a.find-group(href='/createChurch',ng-click='exploreDropDown = !exploreDropDown') Create Church >
		.explore-menu__content-section
			.title World
			.coming-soon coming soon