div(ng-show='!showEdit', ng-mouseenter="setEditHover(true)", ng-mouseleave="setEditHover(false)")
	.about-us-widget.text-black(ng-class="{'edit-hover':isEditHover}"){{fellowship.about}}
	div.glyphicon.glyphicon-pencil(ng-show="isEditHover", ng-click="editPost()")
.about-us-widget__output-edit(ng-show='showEdit')
	textarea.ocfc(ng-model='newAboutContent')
	.about-us-widget__options
		button.btn.btn-lg.btn-default.cancel(ng-click='hideEditPost()') Cancel
		button.btn.btn-lg.btn-primary.done(ng-click='updateEditedPost()')  Save
