.dynamic-content__announcement
	img(ng-src='/css/images/kenny_face.jpg',)
	.dynamic-content__annouce-profile-desc
		.name Beland Huang
		.date July 2014
	.dynamic-content__announcement__description 開放式辦公室是許多公司採用的工作環境，但最新的研究指出，在開放式辦公室工作的員工，不僅效率不足、生產力較低，且相較於那些擁有自己辦公室的人，平常增加62%的比例請病假。開放式辦公室是許多公司採用的工作環境，但最新的研究指出，在開放式辦公室工作的員工，不僅效率不足、生產力較低，且相較於那些擁有自己辦公室的人，平常增加62%的比例請病假。
			