.ocfc-wall-input
	.ocfc-wall-input__header
		span.glyphicon.glyphicon-camera.camera-icon(ng-file-select='onFileSelect($files)', data-multiple='false', title='profile', onclick='this.value = null')
		.share Share
			span.glyphicon.glyphicon-share.share-icon
		//.post-type Type
		//.test title: {{title}} content: {{content}}
		button.post-button.btn.btn-primary.pull-right(ng-click='createPost(selectedPostType)',ng-disabled='isPostDisable()') POST
		.post-type-dropdown
			button.btn.btn-default.pull-right.inline-block.choose-type(type='button', ng-model='selectedPostType', ng-options='postType.value as postType.label for postType in postTypes', bs-select='')
				| Action
				span.caret
	.ocfc-wall-input__body
		input.title.form-control(type='text',ng-model='title',ng-show='selectedPostType === "Testimony"',placeholder='Testimony title goes here')
		textarea.event-title(ng-model='eventTitle',ng-show='selectedPostType === "Event"',placeholder='Event title goes here')
		.event-datetime-picker__fromDate(ng-show='selectedPostType === "Event"')
			label.control-label.text-black
				i.fa.fa-calendar
				|  From {{endTimeSelected}}
			.form-group
				input.form-control__fromDate(type='text', size='10', ng-model='fromDate', data-autoclose='1', placeholder='From Date', bs-datepicker='')
				input.form-control__fromDate(type='text', size='8', ng-model='fromDate', data-autoclose='1', placeholder='Add a time?', bs-timepicker='')
				.event__fromDate-endTime.text-black(ng-click='endTime()') End time?
		.event-datetime-picker__toDate(ng-show='selectedPostType === "Event"')
			label.control-label.text-black
				i.fa.fa-calendar
				.event-datetime-picker__toDate-title(ng-show='endTimeSelected===true')  To
			.form-group
				input.form-control__toDate(type='text', size='10', ng-model='toDate', data-autoclose='1', placeholder='To Date', bs-datepicker='',ng-show='endTimeSelected===true')
				input.form-control__toDate(type='text', size='8', ng-model='toDate', data-autoclose='1', placeholder='To Time', bs-timepicker='',ng-show='endTimeSelected===true')
				.event__toDate-removeEndTime.text-black(ng-click='removeEndTime()',ng-show='endTimeSelected===true') X
		textarea.wall-header__event-where(ng-model='eventWhere',ng-show='selectedPostType === "Event"',placeholder='Event location goes here')
		textarea.textbox(ng-model='content', placeholder='What do you want to write about?')
	.ocfc-wall-input__media
		.inner
			.scrollable
				ocfc-upload-image(file="file", files="files", image-array="imageArray", image-objs="imageObjs", cloudinary-params="cloudinarySignedParams", ng-repeat='file in files')
					//ocfc-upload-image(file="file")
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					.progress(ng-style="{'width':'80%'}")
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					.progress(ng-style="{'width':'80%'}")
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove

		//	img.wall-img__images(ng-src='https://res.cloudinary.com/ocfc/image/upload/{{backgroundImgPath}}')
		//	button.wall-img__image-delete(ng-click='deleteImage($index,backgroundImgPath)') X

