.ocfc-wall-input
	.ocfc-wall-input__header
		span.glyphicon.glyphicon-camera.camera-icon(ng-file-select='onFileSelect($files)', data-multiple='false', title='profile', onclick='this.value = null')
		.share Share
			span.glyphicon.glyphicon-share.share-icon
		//.post-type Type
		//.test title: {{title}} content: {{content}}
		button.post-button.btn.btn-primary.pull-right(ng-click='createPost(selectedPostType)',ng-disabled='isPostDisable()') POST
		.post-type-dropdown
			button.btn.btn-default.pull-right.inline-block.choose-type(type='button', ng-model='selectedPostType', ng-options='postType.value as postType.label for postType in postTypes', bs-select='')
				| Action
				span.caret
	.ocfc-wall-input__body
		input.title.form-control(type='text',ng-model='title',ng-show='selectedPostType === "Testimony"',placeholder='Testimony title goes here')
		textarea.event-title(ng-model='eventTitle',ng-show='selectedPostType === "Event"',placeholder='Event title goes here')
		.datetime-picker__fromDate(ng-show='selectedPostType === "Event"')
			label.control-label.text-black
				i.fa.fa-calendar
				|  From Datetime picker
			.form-group
				input.form-control__fromDate(type='text', size='10', ng-model='fromDate', data-autoclose='1', placeholder='From Date', bs-datepicker='')
				input.form-control__fromDate(type='text', size='8', ng-model='fromDate', data-autoclose='1', placeholder='From Time', bs-timepicker='')
		.datetime-picker__toDate(ng-show='selectedPostType === "Event"')
			label.control-label.text-black
				i.fa.fa-calendar
				|  To Datetime picker
			.form-group
				input.form-control__toDate(type='text', size='10', ng-model='toDate', data-autoclose='1', placeholder='To Date', bs-datepicker='')
				input.form-control__toDate(type='text', size='8', ng-model='toDate', data-autoclose='1', placeholder='To Time', bs-timepicker='')
		textarea.wall-header__event-where(ng-model='eventWhere',ng-show='selectedPostType === "Event"',placeholder='Event location goes here')
		textarea.textbox(ng-model='content', placeholder='What do you want to write about?')
	.ocfc-wall-input__media(ng-if="files.length>0")
		.inner
			.scrollable
				ocfc-upload-image(file="file", files="files", image-array="imageArray", image-objs="imageObjs", cloudinary-params="cloudinarySignedParams", ng-repeat='file in files')
					//ocfc-upload-image(file="file")
				.upload-image(ng-file-select='onFileSelect($files)', data-multiple='false', title='profile', onclick='this.value = null')
					div.glyphicon.glyphicon-plus

