.ocfc-wall-input
	.ocfc-wall-input__header
		span.glyphicon.glyphicon-camera.camera-icon(ng-file-select='onFileSelect($files)', data-multiple='false', title='profile', onclick='this.value = null')
		.share Share
			span.glyphicon.glyphicon-share.share-icon
		//.post-type Type
		//.test title: {{title}} content: {{content}}
		button.post-button.btn.btn-primary.pull-right(ng-click='createPost(selectedPostType)',ng-disabled='isPostDisable()') POST
		.post-type-dropdown
			button.btn.btn-default.pull-right.inline-block.choose-type(type='button', ng-model='selectedPostType', ng-options='postType.value as postType.label for postType in postTypes', bs-select='')
				| Action
				span.caret
	.ocfc-wall-input__body
		input.title.form-control(type='text',ng-model='title',ng-show='selectedPostType === "Testimony"',placeholder='Testimony title goes here')
		textarea.event-title(ng-model='eventTitle',ng-show='selectedPostType === "Event"',placeholder='Event title goes here')
		input.wall-header__event-fromDate(ng-model='fromDate',ng-show='selectedPostType === "Event"',type='date')
		input.wall-header__event-toDate(ng-model='toDate',ng-show='selectedPostType === "Event"',type='date')
		textarea.wall-header__event-where(ng-model='eventWhere',ng-show='selectedPostType === "Event"',placeholder='Event location goes here')
		textarea.textbox(ng-model='content', placeholder='What do you want to write about?')
	.ocfc-wall-input__media
		.inner
			.scrollable
				ocfc-upload-image(file="file", files="files", image-array="imageArray", image-objs="imageObjs", cloudinary-params="cloudinarySignedParams", ng-repeat='file in files')
					//ocfc-upload-image(file="file")
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					.progress(ng-style="{'width':'80%'}")
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					.progress(ng-style="{'width':'80%'}")
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove
				.wall-img__image-section
					img(ng-src='https://res.cloudinary.com/ocfc/image/upload/l4hqb0qqpwgnkttbl1ca')
					span.glyphicon.glyphicon-remove

		//	img.wall-img__images(ng-src='https://res.cloudinary.com/ocfc/image/upload/{{backgroundImgPath}}')
		//	button.wall-img__image-delete(ng-click='deleteImage($index,backgroundImgPath)') X

