.general-header
	img.general-header__profile-icon(ng-src='/css/images/kenny_face.jpg')
	.general-header__user-info
		.general-header__user-name {{post.postBy.fullName}}
		.general-header__post-date {{post.createdOn | date}}
	.general-header__post-type {{post.postType | PostTypeStrFilter}}
.general-header__output {{post.general[0].content}}
.general-header__comment-output(ng-repeat='comment in post.comments')
	img(ng-src='/css/images/kenny_face.jpg')
	.general-header__user-comment-name {{comment.fullName}}
	.general-header__post-comment-date {{comment.createdOn | date}}
	.general-header__post-comment-output {{comment.comment}}
.general-header__comment-input
	textarea(placeholder='type your comment here',ng-model='comment')
button.general-header__button.btn.btn-primary.pull-right.inline-block.choose-type.ng-pristine.ng-valid(ng-click='createComment()') Comment
