.new-friend
	.wrapper(ng-repeat='user in users')
		img.new-friend-profile(ng-src='{{user.userId.profileImg}}')
		.new-friend-desc
			.name.text-black{{user.userId.fullName}}
			.desc-section
				.status{{user.userId.status}}
				.date{{user.userId.signupDate|date:'MM/dd/yyyy'}}