.dynamic-content__event
	img(ng-src='{{post.postBy.profileImg}}')
	.dynamic-content__annouce-profile-desc
		.name {{post.postBy.fullName}}
		.date {{post.createdOn | date}}
	.dynamic-content__event__description {{post.eventId.description}}
			