.new-friend
	.wrapper(ng-repeat='user in users')
		img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
		.new-friend-desc
			.name{{user.userId.firstName}}
			.desc-section
				.status{{user.status}}
				.date{{user.signupDate|date:'MM/dd/yyyy'}}