.new-friend
	.wrapper(ng-repeat='fellowshipUser in fellowshipUsers')
		img.new-friend-profile(ng-src='/css/images/kenny_face.jpg')
		.new-friend-desc
			.name{{fellowshipUser.userId.firstName}}
			.desc-section
				.status{{fellowshipUser.status}}
				.date{{fellowshipUser.signupDate|date:'MM/dd/yyyy'}}