.post-widget
	.post-widget__header
		img(ng-src='{{post.postBy.profileImg}}')
		.name {{post.postBy.fullName | capitalize}}
		.date {{post.createdOn | date}}
		.type General
	.post-widget__output(ng-show='!showEdit') {{post.general[0].content}}
		button.btn.btn-lg.btn-primary.edit(type='button', data-animation='am-flip-x', data-placement='bottom-right', bs-dropdown='dropdown',ng-if='isPoster')
			span.caret
	.post-widget__output-edit(ng-show='showEdit')
		textarea(ng-model='newGenPostContent')
		.post-widget__options
			button.btn.btn-lg.btn-default.cancel(ng-click='hideEditPost()') Cancel
			button.btn.btn-lg.btn-primary.save(ng-click='updateEditedPost()')  Save
	.post-widget__image-display(ng-click='selectPost()')
		ocfc-one-image-display(ng-if='post.imageIds.length===1',post='post')
		ocfc-two-image-display(ng-if='post.imageIds.length===2',post='post')
		ocfc-three-image-display(ng-if='post.imageIds.length===3',post='post')
		ocfc-four-image-display(ng-if='post.imageIds.length===4',post='post')
		ocfc-five-image-display(ng-if='post.imageIds.length===5',post='post')
	.post-widget__comment-output(ng-repeat='comment in post.comments')
		.text
			span.name {{comment.fullName|capitalize}}
			.date {{comment.createdOn | date}}
			span.output {{comment.comment}}
		img(ng-src='{{comment.profileImg}}')
		span.glyphicon.glyphicon-remove(ng-click='deleteComment(post,comment)',ng-if='comment.userId===IdentitySvc.currentUser._id')
	.post-widget__comment-input
		textarea(placeholder='type your comment here',ng-model='comment')
		button.btn.btn-primary.pull-right.inline-block.choose-type.ng-pristine.ng-valid(ng-click='createComment(post._id,comment,post.comments)') Comment