div.popover.profile-popover
	div.arrow
	h3.popover-title
	div.popover-content
		ul
			li
				a(href="" ng-click="$location.path('/setting');") Setting
			li 
				a(ng-click="$hide();logout();") Logout