div.popover.profile-popover
	div.arrow
	h3.popover-title
		.glyphicon.glyphicon-wrench 
		| Hi, Kenny!
	div.popover-content
		ul
			li
				a(href="",ng-click="$hide();$location.path('/setting');") Setting
			li 
				a(ng-click="$hide();logout();") Logout