//--http://onechurchforchrist.org/find--
.find-on-map
	.find-on-map--search-section
		.find-on-map--search-section__container
			.row
				.col-xs-12
					button.btn.btn-default.inline-block.choose-type(type='button', ng-model='selectedGroup', ng-options='group.value as group.label for group in groups', bs-select='')
						| Action
						span.caret
					input.form-control.inline-block.search-box(type="text", ng-model="userAddress", placeholder="Search by address or zip.")
					button.btn.btn-primary.inline-block(ng-click="getLatlng(userAddress)") FIND
			.row
				.col-xs-12
					ul.list-group.autocomplete-result
						li.list-group-item(ng-repeat="address in matchedAddresses")
							a(ng-click="getLatlng(address.description)") {{address.description}}
			.row
				.col-xs-12
					div.geo-code
						div coordinate: lat: {{lat}}, lng: {{lng}}
			.row
				.col-xs-12.fellowships-result
					div.panel.panel-default(ng-repeat="fellowship in fellowships")
						div.panel-body
							div {{$index}}
							div {{fellowship.name}}
							div {{address}} {{city}} {{state}} {{country}}
							button.btn.btn-default.pull-right JOIN
	ocfc-map#find-map(latlngs="latlngs")