//--http://onechurchforchrist.org/find--
#find-on-map
	.container
		.search-section.container(ng-class="{'modal-open':isSummaryOn}")
			.row.search-section__search-bar
				.col-xs-12
					button.btn.btn-default.inline-block.choose-type(type='button', ng-model='selectedGroup', ng-options='group.value as group.label for group in groups', bs-select='')
						| Action
						span.caret
					input.form-control.inline-block.search-box(type="text", ng-model="userAddress", placeholder="Search by address or zip.")
					button.btn.btn-primary.inline-block(ng-click="getLatlng(userAddress)") FIND
			.row.search-section__autocomplete-result
				.col-xs-12
					ul.list-group(ng-show="showAutocomplete")
						li.list-group-item(ng-repeat="address in matchedAddresses")
							a(ng-click="getLatlng(address.description)") {{address.description}}
			.row
				.col-xs-12
					//div.search-section__geo-code
						//div coordinate: lat: {{lat}}, lng: {{lng}}
			.row.search-section__search-result
				.col-xs-12
					div.introduction-section(ng-show="latlngs.length===0")
						div.sideline
						div.introduction-section__point
							.point.first 1
							.title Find Your Fellowship
							.description Type in the city and state, or zip of where you want to locate your fellowship. 
						div.introduction-section__point
							.point.second 2
							.title Browse the results
							.description View the search results and find the fellowship that you're belonged to. 
						div.introduction-section__point
							.point.third 3
							.title Click Join
							.description Join your fellowship, waited to be approved by your fellowship admin.						
					div.panel.panel-default(ng-repeat="fellowship in fellowships",ng-class="{selectedGroup:$index === groupIndex}")
						div.panel-body(ng-click="openSummary($index, 'F', fellowship)")
							h5 {{fellowship.name | capitalize}}
							a.view-summary
								.glyphicon.glyphicon-th-list
								| &nbsp;&nbsp;View Summary
							div.info-box-left
								div.info-value {{fellowship.address|capitalize}}
								div.info-value {{fellowship.city|capitalize}}, {{fellowship.state|uppercase}}, {{fellowship.zipcode}}, {{fellowship.country|uppercase}}
								div.info-value Meet every Sat 3:30 ~ 5:30PM
							div.info-box-right
								div.info-value For: Singles or Young professionals.
								div.info-value Languages: Chinese & English
								div.info-value Church: CCIC Mountain View
							button.btn.btn-success.pull-right JOIN
					div.create-fellowship
						.glyphicon.glyphicon-question-sign
						.title Can't Find Your Fellowship?
						.description If you can't find your fellowship, you can ask your fellowship leader to create a fellowship on OCFC. It's very easy. send an email to your group leader now.
						.form-group
							input.form-control.inline-block(type='text')
							button.btn.btn-primary.inline-block INVITE		
		.summary-section.container(ng-if="isSummaryOn", ng-class="{'modal-open':isSummaryOn}")
			.row
				.col-xs-12
					.summary-section__modal
						.summary-section__modal-header
							h5 Summary
							.close(ng-click="closeSummary()")
						.summary-section__group-header
							.letter-icon {{currentGroup.type}}
							h5 {{currentGroup.name|capitalize}}
							button.btn.btn-success.pull-right.form-control JOIN
						.summary-section__group-detail
							h6 Mission
							p This is the mission of our church, we have to undrestand the meaning of the mission. This is the mission of our church, we have to undrestand the meaning of the mission.
							h6 Vision
							p This is the mission of our church, we have to undrestand the meaning of the mission. This is the mission of our church, we have to undrestand the meaning of the mission.
							h6 Faith Statement
							p This is the mission of our church, we have to undrestand the meaning of the mission. This is the mission of our church, we have to undrestand the meaning of the mission.
							
	ocfc-map#find-map(latlngs="latlngs", fellowships="fellowships" selected="groupIndex")