#activate {
  width: 980px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
}
#activate.jumbotron .container {
  width: 327px;
}
#activate input.form-control.password {
  width: 143px;
}
.activate-success__first-timer-section {
  margin-bottom: 5px;
}
.activate-success__first-timer-section img {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.activate-success__first-timer-section .label {
  color: #000;
  display: block;
  font-size: 13px;
  font-weight: 500;
}
