#first-timer-content {
  width: 980px;
  height: 300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
}
#first-timer-content .activate-success .first-timer-section {
  margin-bottom: 5px;
}
#first-timer-content .activate-success .first-timer-section img {
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#first-timer-content .activate-success .first-timer-section .label {
  color: #000;
  display: block;
  font-size: 13px;
  font-weight: 500;
}
#first-timer-content .activate-success .well {
  width: 270px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
