.photos {
  display: inline-block;
  width: 50%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 28px;
}
.buttons {
  display: inline-block;
  width: 50%;
  height: 58px;
  vertical-align: top;
  margin-top: 28px;
}
.button {
  position: relative;
  left: 275px;
  top: 11px;
}
.font-size {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  left: 275px;
  top: 11px;
}
.edit {
  left: -8px;
  top: 27px;
}
.album-upload {
  height: 250px;
  width: 250px;
  margin-top: 15px;
  border: 2px dashed #d3d3d3;
}
.column {
  border-bottom: 1px solid #cdc3c3;
}
.plus {
  position: absolute;
  top: 65px;
  left: 120px;
  font-size: 70px;
}
.add-album {
  font-size: 28px;
  top: 148px;
  left: 56px;
  position: absolute;
}
