#church {
  width: 980px;
  height: 1500px;
  margin: 0px auto;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
}
.church-banner {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  height: 300px;
  border: 1px solid #fff;
  border-right: none;
  border-top: none;
}
.church-banner__group-pic {
  height: 274px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
.church-banner__group-pic img {
  margin-top: -150px;
  width: 100%;
  height: auto;
}
.church-banner__overlay {
  background-color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 80px;
  bottom: 0px;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
}
.church-banner__summary {
  width: 100%;
  height: 80px;
  bottom: 0px;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 20px;
}
.church-banner__title-section {
  display: inline-block;
  width: 70%;
  height: 60px;
  padding-left: 40px;
  padding-right: 20px;
  vertical-align: top;
}
.church-banner__title {
  font-size: 28px;
  color: #000;
}
.church-banner__slogan {
  font-size: 13px;
  color: #000;
}
.church-banner__about-us {
  height: 100%;
  background-color: #fff;
  padding: 20px 30px;
  color: #000;
}
.church-banner__about-us:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #696969 #696969 #d3d3d3 #d3d3d3;
  background: #d3d3d3;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
/* Firefox 3.0 damage limitation */
  display: block;
  width: 0;
}
.church-banner__about-us.rounded {
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}
.church-banner__about-us.rounded:before {
  border-width: 8px;
  border-color: #fff #fff transparent transparent;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
.church-banner__logo {
  display: inline-block;
}
.church-banner__logo img.church-logo {
  border: 1px solid #0a0a0a;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  padding: 5px;
  margin-right: 6px;
}
.church-banner__logo__title {
  color: #339db6;
  font-size: 18px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.church-banner__logo__border {
  border-bottom: 1px solid #000;
  padding-top: 4px;
}
.church-banner__logo__description {
  margin-top: 10px;
  font-size: 13px;
}
.church-banner__logo__description:first-letter {
  font-size: 20px;
  font-weight: bold;
}
.fellowship-desc {
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}
.fellowship-details {
  display: inline-block;
}
.fellowship-details .members {
  display: inline-block;
  width: 58px !important;
}
.fellowship-details .members .members-num {
  position: relative;
  top: 6px;
  height: 22px;
  font-size: 15px;
  margin-left: 14px;
  display: inline-block;
}
.fellowship-details .members .members-lbl {
  font-size: 11px;
}
.fellowship-details .join {
  font-size: 11px;
  display: inline-block;
  height: 20px;
  position: relative;
  bottom: 12px;
}
.associated-fellowships {
  border-bottom: 1px solid #e1dddd;
}
