.jumbotron
	margin-bottom 0px
	width 100%
	height 100%
	.container
		width 980px

input.form-control.address
	border-bottom 4px solid #DBD6D6

//form-label for setting
.form-label
	margin-bottom 5px
	color #7f7f7f
	text-transform uppercase
	font-weight 500
	font-size 10px

//standard text color for setting
.text-grey
	color rgba(0, 0, 0, 0.63);

//standard for all cancel button
.cancel-button
	background none

//setting for header labels
.info
	border-bottom 1px solid #DBD6D6
	padding 0 0 5px 0
	font-weight 500
	margin-top 25px
	margin-bottom 15px

//standard textarea for create fellowship
textarea.form-control
	height 170px