//create-fellow.jade, added on 5.21.2014 to style Form errors
.form-horizontal .form-group
  margin-right:0px;
  margin-left:0px;

input.ng-dirty.ng-invalid
  background #f2dede
  &:focus
    border-color #f2dede
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242,222,222, .6);

span.valid-check
  background-image: url('images/checkmark.svg');
  width 16px
  height 12px
  display inline-block
  margin-top 11px

#textarea
  width 486px
  height 85px

#option1
  border 2px solid rgb(165, 147, 52)
  border-radius 25px
  background-color rgb(247, 220, 76)
  .well.well-lg
      height 434px
      background-color rgb(247, 220, 76)
      border 0px
  button.btn
    width 208px
    text-align left
    .caret
      margin-left 130px
    background-color #EC9191
#option2
  border 2px solid rgb(165, 147, 52)
  border-radius 25px
  background-color rgb(247, 220, 76)
  .well.well-lg
    height 434px
    background-color rgb(247, 220, 76)
    border 0px

#inputZip
  margin-bottom 15px

#get-started-one
  width 95px
  height 25px
  margin-top 135px
  margin-left 35px
  padding-bottom 25px

#get-started-two
  width 95px
  height 25px
  margin-left 80px
  padding-bottom 25px