#members-page
	padding-top 60px
	.row
		margin-left 0px
		margin-right 0px
.member-card-section
	width 980px
	padding-left 0px
	padding-right 0px

.member-menu
	width 100%
	height auto
	background-color white
	border 1px solid rgba(179, 179, 179, 0.54)
	padding 20px 20px 10px 20px
	margin-bottom 10px
	.member-menu__title
		h3
			font-size 14px
			color #777
			margin-top 0px
			margin-botto 0px
			.glyphicon
				margin-right 10px
	.member-menu__links
		a
			margin-right 20px
			font-size 12px
			line-height 18px
			.badge
				margin-left 10px
				border 1px solid #777
				color #777
				background-color white
				line-height 10px
				font-size 10px	
.invite-friends
	width auto
	
.invite-widget
	margin-top 2px
	background-color white
	border 1px solid #ddd

.invite-widget__title
	background-color gray
	padding 10px 12px
	h3
		color white
		margin-top 0px
		margin-bottom 0px
		font-size 15px
		
.invite-widget__add-emails
	width 50%
	float left
	padding 10px
	.input-bar
		input
			display inline-block
			width 89%
			vertical-align top
		button
			display inline-block
			width 10%
			padding 6px 12px
			border 1px solid #ddd
			&:hover
				background-color white
				border 1px solid #337ab7
	.alert
		width 99%
		margin-top 5px
		margin-bottom 5px
		padding 7px 15px
		font-size 13px
	.message
		height 134px
		padding-top 49px
		color #9B9B9B
		font-size 14px
		text-align center
	.email-lists
		border 2px solid rgba(44,105,165,0.29)
		max-height 132px
		overflow-y auto
		margin-top 10px
		margin-right 4px
		margin-bottom 0px
		li
			color black
			padding-top 7px
			padding-bottom 7px
			font-size 13px
			.glyphicon-remove
				font-size 10px
				color #d5d5d5
				cursor pointer
				top 4px
				&:hover
					color #818181
.invite-widget__message
	padding 10px
	width 50%
	float left
	textarea
		height 177px

.invite-widget__bottom
	clear both
	padding 5px
	height 46px
	width 100%
	border-top 1px solid #ddd
	background-color rgb(249, 249, 249)
	button
		width auto
		.glyphicon
			margin-right 10px
	.cancel
		border none
		margin-right 5px
.member-card
	margin-right 5px
	margin-left 5px
	margin-bottom 10px
	background-color #ffffff
	width 186px
	height 220px
	padding-top 20px
	box-shadow 0 1px 5px rgba(0,0,0,0.25)
	display inline-block
	position relative
	.dropdown-arrow
		top 7px
		right 7px
		position absolute
		color #908e8e
		border 1px solid #908e8e
		border-radius 3px
		font-size 10px
		padding 3px
	.admin
		position absolute
		top 7px
		right 147px
		font-size 10px
		padding 2px 8px
		background-color #d64951
		box-shadow 0 1px 5px rgba(0,0,0,0.25)
	.sub-admin
		position absolute
		top 7px
		right 126px
		width 67px
		font-size 10px
		padding 2px 8px
		background-color #D6A949
		box-shadow 0 1px 5px rgba(0,0,0,0.25)
.member-card__img-size
	width 130px
	height 130px

.member-card__more-info
	font-size 10px
	padding-bottom 4px
	cursor pointer
	width 200px
	height 14px
.member-card__name
	font-size 17px

.member-card__triangle-bottomright
	width 0
	height 0
	border-bottom 55px solid white
	border-left 62px solid transparent
	position absolute
	top 95px
	left 96px

.member-card__role
	position absolute
	top 122px
	left 137px
	font-style italic
	font-size 17px
	font-weight 900
	color #337ab7
.invite-friend
	.jumbotron
		border-radius 2px
		background-position -179px -296px
		background-image url("./images/balloonsky.jpg")
		margin-bottom 0px
	h4
		font-size 14px
		color #222
		font-weight normal

.invited-list
	margin-top 10px
	border 1px solid #ddd
	tr:first-child
		border-bottom 2px solid rgba(44, 105, 165, 0.29)
	th
		color #908e8e
		&.action
			width 200px
		&.status
			width 160px
		&.invited-on
			width 124px
	td
		color #908e8e
	.btn
		border 1px solid #ddd
		padding 4px 10px
.member-modal-wrapper
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	background-color rgba(0, 0, 0, 0.49)
	z-index 10000
.member-modal
	display table-cell
	vertical-align middle
	margin-left auto
	margin-right auto
	width 200px
	height 100px
	background-color white
	z-index 10001