#members-page
	padding-top 60px
	.row
		margin-left 0px
		margin-right 0px
.member-card-section
	width 980px
	padding-left 0px
	padding-right 0px

.invite-friends
	width auto
	
.invite-widget
	margin-top 10px
	background-color white
	border 1px solid #ddd

.invite-widget__title
	background-color gray
	padding 10px 12px
	h3
		color white
		margin-top 0px
		margin-bottom 0px
		font-size 15px
		
.invite-widget__add-emails
	width 50%
	float left
	padding 10px
	.input-bar
		input
			display inline-block
			width 89%
			vertical-align top
		button
			display inline-block
			width 10%
			padding 6px 12px
			border 1px solid #ddd
	.email-lists
		margin-top 10px
		li
			color black

.invite-widget__message
	padding 10px
	width 50%
	float left
	textarea
		height 160px

.invite-widget__bottom
	clear both
	padding 5px
	height 46px
	width 100%
	border-top 1px solid #ddd
	background-color rgb(249, 249, 249)
	button
		width auto
		.glyphicon
			margin-right 10px
.member-card
	background-color #ffffff
	width 225px
	height 267px
	padding-top 20px
	box-shadow 4px 4px 12px #888888
	display inline-block

.member-card__img-size
	width 130px
	height 130px

.member-card__more-info
	font-size 10px
	padding-bottom 4px

.member-card__name
	font-size 17px

.member-card__triangle-bottomright
	width 0
	height 0
	border-bottom 55px solid white
	border-left 62px solid transparent
	position absolute
	top 95px
	left 130px

.member-card__role
	position absolute
	top 122px
	left 170px
	font-style italic
	font-size 17px
	font-weight 900
	color #337ab7