//FellowshipNew.jade
#fellowship
	width 980px
	height 1500px
	margin 0px auto
	padding-left 0px
	padding-right 0px
	padding-top 60px
	.container
	.widget-title-wo-link
		margin-top 5px

.fellow-banner
	position relative
	//margin-left -15px
	//margin-right -15px
	width 980px
	height 300px
	border 1px solid #ffffff
	border-right none
	border-top none

.fellow-banner__group-pic
	height 274px
	padding-left 0px
	padding-right 0px
	overflow hidden
	img
		margin-top -150px
		width 100%
		height auto

.fellow-banner__overlay
	background-color #ffffff
	opacity 0.8
	width 100%
	height 80px
	bottom 0px
	position absolute
	padding-top 20px
	padding-bottom 20px

.fellow-banner__summary
	width 100%
	height 80px
	bottom 0px
	position absolute
	padding-top 10px
	padding-bottom 20px

.fellow-banner__title-section
	display inline-block
	width 70%
	height 60px
	padding-left 40px
	padding-right 20px
	vertical-align top
.fellow-banner__title
	font-size 28px
	color #000000
.fellow-banner__slogan
	font-size 13px
	color #000000
.fellow-banner__admin-section
	display inline-block
	width 30%
	height 60px
	vertical-align top
	padding-left 10px
.fellow-banner__profile-img
	display inline-block
	vertical-align top
	img
		width 60px
		height 60px
		border-radius 30px
		border 3px solid #407F8E
		margin-top 0px
.fellow-banner__profile-desc
	padding-left 10px
	display inline-block
	vertical-align top
.fellow-banner__role
	font-size 14px
	color #000000
	margin-top 7px
.fellow-banner__name
	font-size 16px
	color #000000

.fellow-banner__about-us
	height 100%
	background-color #ffffff
	padding 20px 30px
	color black

.fellow-banner__about-us:before
	content ""
	position absolute
	top 0
	right 0
	border-width 0 16px 16px 0
	border-style solid
	border-color #696969 #696969 lightgrey lightgrey
	background lightgrey
	-webkit-box-shadow 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
	-moz-box-shadow 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
	box-shadow 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2)
	/* Firefox 3.0 damage limitation */
	display block
	width 0

.fellow-banner__about-us.rounded
	-moz-border-radius 5px 0 5px 5px
	border-radius 5px 0 5px 5px

.fellow-banner__about-us.rounded:before
	border-width 8px
	border-color #fff #fff transparent transparent
	-moz-border-radius 0 0 0 5px
	border-radius 0 0 0 5px

.fellow-banner__logo
	display inline-block
	img.fellow-logo
		border 1px solid rgb(10, 10, 10)
		width 28px
		height 28px
		border-radius 14px
		padding 5px
		margin-right 6px
.fellow-banner__logo__title
	color #339DB6
	font-size 18px
	display inline-block
	position relative
	top 7px
.fellow-banner__logo__border
	border-bottom 1px solid black
	padding-top 4px
.fellow-banner__logo__description
	margin-top 10px
	font-size 13px
	&:first-letter
		font-size 20px
		font-weight bold

.dynamic-content
	height 1500px

.dynamic-content__wall
	height 275px
	color #000000
	background-color transparent
	.post-msg-box
		border 1px solid #000000
		height 240px
		.header
			border-bottom 1px solid #000000
			display inline-block
			width 100%
		textarea.textbox
			width 100%
			height 115px
	img.camera-icon
		width 20px
		height 20px
		margin 5px
		display inline-block
		position absolute
		top 44px
	.share
		display inline-block
		margin-right 2px
		font-size 12px
		position absolute
		top 53px
		left 44px
		img.share-icon
			width 17px
			height 17px
			margin-left 5px
			position absolute
			bottom 2px
	.post-type
		display inline-block
		font-size 12px
		position absolute
		top 53px
		left 100px
	.post-type-dropdown
		display inline-block
		margin-left 6px
	button.post
		display inline-block
		font-size 12px
		margin 5px 5px 5px 55px
		width 55px
		color #000000
		position absolute
		top 210px
		left 460px

.dynamic-content__left-sidebar
	height 100%
.dynamic-content__announcement
	width 100%
	height auto
	margin-top 5px
	img
		width 35px
		height 35px
		vertical-align top
		display inline-block
		margin-right 6px
.dynamic-content__annouce-profile-desc
	vertical-align top
	display inline-block
	.name
		font-size 11px
		color #000000
	.date
		font-size 10px
		color #000000
.dynamic-content__announcement__description
	font-size 13px
	margin-top 5px
	color #000000

.dynamic-content__new-friend
	width 100%
	height 200px

.dynamic-content__new-friend__wrapper
	img
		width 35px
		height 35px
		vertical-align top
		display inline-block
		margin 5px

.dynamic-content__new-friend-desc
	vertical-align top
	display inline-block
	width 165px
	height 37px
	margin-top 4px
.dynamic-content__new-friend-desc__name
	font-size 11px
	display inline-block
	margin-right 40px
	margin-top 14px
	vertical-align top
	color #000000
	position absolute
	left 60px
.dynamic-content__desc-section
	display inline-block
	position absolute
	right 15px
.dynamic-content__desc-section__status
	font-size 10px
	display inline-block
	vertical-align top
	margin-top 14px
	color #000000
	margin-right 4px
.dynamic-content__desc-section__date
	font-size 10px
	display inline-block
	vertical-align top
	margin-top 14px
	color #000000
	.members
		width 100%
		img
			width 45px
			height 45px
			margin 5px
		color #000000

.dynamic-content__right-sidebar
	height 100%
.dynamic-content__right-sidebar__calendar
	width 100%
	height 250px
.dynamic-content__right-sidebar__event
	width 100%
	height 200px
.dynamic-content__event__wrapper
	display inline-block
	img
		width 35px
		height 35px
		vertical-align top
		display inline-block
		margin 5px
.dynamic-content__new-event-desc
	font-size 10px
	display inline-block
	width 169px
	color #000000
	.event-subject
		font-size 11px
		display inline-block
		margin-right 40px
		vertical-align top
		color #000000
	.date
		font-size 10px
		display inline-block
		vertical-align top
		color #000000

.dynamic-content__right-sidebar__birthday
	width 100%
	height 200px

.dynamic-content__wrapper__new-birthday-profile
	width 35px
	height 35px
	vertical-align top
	display inline-block
	margin 5px

.dynamic-content__wrapper__new-birthday-desc
	display inline-block

.dynamic-content__new-birthday-desc__name
	font-size 11px
	display inline-block
	margin-right 40px
	margin-top 14px
	vertical-align top
	color #000000

.dynamic-content__new-birthday-desc__date
	font-size 10px
	display inline-block
	vertical-align top
	margin-top 14px
	color #000000
	position absolute
	right 14px

.post
	margin-bottom 10px
	margin-top 10px
