#members-page {
  padding-top: 60px;
}
#members-page .row {
  margin-left: 0px;
  margin-right: 0px;
}
.member-card-section {
  width: 980px;
  padding-left: 0px;
  padding-right: 0px;
}
.invite-friends {
  width: auto;
}
.invite-widget {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.invite-widget__title {
  background-color: #808080;
  padding: 10px 12px;
}
.invite-widget__title h3 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}
.invite-widget__add-emails {
  width: 50%;
  float: left;
  padding: 10px;
}
.invite-widget__add-emails .input-bar input {
  display: inline-block;
  width: 89%;
  vertical-align: top;
}
.invite-widget__add-emails .input-bar button {
  display: inline-block;
  width: 10%;
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.invite-widget__add-emails .email-lists {
  margin-top: 10px;
}
.invite-widget__add-emails .email-lists li {
  color: #000;
}
.invite-widget__message {
  padding: 10px;
  width: 50%;
  float: left;
}
.invite-widget__message textarea {
  height: 160px;
}
.invite-widget__bottom {
  clear: both;
  padding: 5px;
  height: 46px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}
.invite-widget__bottom button {
  width: auto;
}
.invite-widget__bottom button .glyphicon {
  margin-right: 10px;
}
.member-card {
  background-color: #fff;
  width: 225px;
  height: 267px;
  padding-top: 20px;
  box-shadow: 4px 4px 12px #888;
  display: inline-block;
}
.member-card__img-size {
  width: 130px;
  height: 130px;
}
.member-card__more-info {
  font-size: 10px;
  padding-bottom: 4px;
}
.member-card__name {
  font-size: 17px;
}
.member-card__triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 55px solid #fff;
  border-left: 62px solid transparent;
  position: absolute;
  top: 95px;
  left: 130px;
}
.member-card__role {
  position: absolute;
  top: 122px;
  left: 170px;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
  color: #337ab7;
}
