#standardCol {
  padding-right: 12px;
  padding-left: 12px;
  background-color: transparent;
}
.well {
  margin-top: 80px;
  height: 260px;
  padding: 0px 19px 0px 0px;
}
.banner {
  width: 735px;
  height: 260px;
}
.fellow-name {
  position: relative;
  top: -235px;
  right: -393px;
  color: #000;
}
#about {
  font-size: small;
  width: 300px;
  position: relative;
  top: -233px;
  right: -400px;
}
#photos {
  position: relative;
  top: -220px;
  right: -379px;
  width: 300px;
  height: 40px;
}
#photos img {
  width: 40px;
  height: 40px;
}
#members {
a
  color: #000;
  position: relative;
  top: -200px;
  right: -680px;
  text-decoration: none;
}
#members p {
  width: 80px;
}
#columns {
  text-align: left;
}
#columns .row h4 {
  border-bottom: 1px solid #000;
}
#post-widget.well {
  margin: 50px 50px 50px 50px;
  height: 157px;
  padding: 0px;
}
#post-widget.well .post-header-row {
  width: 662px;
  height: 37px;
  margin-right: 5px;
  margin-left: 5px;
  border-bottom: 1px solid #d3d3d3;
  padding: 0px;
}
#post-widget.well .post-header-title {
  position: relative;
  height: 100%;
}
#post-widget.well .post-header-title p {
  margin-top: 9px;
  font-size: 15px;
}
#post-widget.well .text-input textarea {
  height: 75px !important;
  margin-top: 37px;
  width: 100%;
  resize: none;
  border-color: transparent;
}
#post-widget.well .text-input textarea:focus {
  box-shadow: none;
}
#post-widget.well .post-footer {
  width: 100%;
  height: 40px;
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid #d3d3d3;
  padding: 0px;
}
#post-widget.well .post-button-container {
  position: relative;
  width: 80px;
  display: inline-block;
  top: 5px;
}
#post-widget.well .post-button-container button.btn {
  width: 81px;
}
#post-widget.well ocfc-wall-category .header-icons {
  display: inline-block;
  position: absolute;
  padding: 5px;
  top: 7px;
  width: 80px;
  color: #333;
}
#post-widget.well ocfc-wall-category .header-icons:hover {
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
}
#post-widget.well ocfc-wall-category .header-icons span {
  font-weight: bold;
}
#post-widget.well ocfc-wall-category .header-icons.post {
  left: 100px;
  color: #e47168;
}
#post-widget.well ocfc-wall-category .header-icons.post:hover {
  background-color: #e47168;
  color: #fff;
}
#post-widget.well ocfc-wall-category .header-icons.event {
  left: 187px;
  color: #8d778f;
}
#post-widget.well ocfc-wall-category .header-icons.event:hover {
  background-color: #8d778f;
  color: #fff;
}
#post-widget.well .button.btn {
  position: relative;
  display: inline-block;
  top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#post-widget.well .button.btn .caret {
  margin-left: 4px;
}
#post-widget.well ocfc-post-types .type-container {
  height: 33px;
  display: inline-block;
  position: relative;
}
#post-widget.well ocfc-post-types .type-container p {
  width: 33px;
  position: relative;
  display: inline-block;
  top: 5px;
  margin-left: 25px;
}
#post-widget.well ocfc-post-types .type-container ul.dropdown-menu {
  left: 57px;
  min-width: 0px;
}
#post-widget.well ocfc-view-permission .visibility-container {
  width: 272px;
  height: 35px;
  display: inline-block;
  position: relative;
}
#post-widget.well ocfc-view-permission .visibility-container p {
  width: 60px;
  position: relative;
  display: inline-block;
  top: 5px;
  margin-left: 25px;
  margin-right: 20;
}
#post-widget.well ocfc-view-permission .visibility-container ul.dropdown-menu {
  left: 84px;
  min-width: 0px;
}
#post-widget.well ocfc-post-icons .icons-container {
  width: 160px;
  position: relative;
  display: inline-block;
  top: 6px;
}
#post-widget.well ocfc-post-icons .icons-container a {
  color: #000;
}
#post-widget.well ocfc-post-icons .icons-container a span {
  position: relative;
  width: 40px;
}
#post-feed.well {
  margin-top: 0px;
  height: auto;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
#post-feed.well ocfc-filter-by-types {
  background-color: #000;
  display: block;
  width: 100%;
  height: 50px;
}
#post-feed.well ocfc-filter-by-types .type-filter.container {
  height: 30px;
  width: 100%;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div {
  display: inline-block;
  border: 1px outset;
  border-radius: 5px;
  width: 65px;
  height: 28px;
  margin-right: 15px;
  text-align: center;
  margin-top: 14px;
  font-weight: bold;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div p {
  margin-bottom: 0px;
  margin-top: 5px;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.question:hover {
  border-color: #5fcac6;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.question:active {
  color: #fff;
  background-color: #5fcac6;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.testimony:hover {
  border-color: #76a5df;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.testimony:active {
  color: #fff;
  background-color: #76a5df;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.general:hover {
  border-color: #a5adce;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.general:active {
  color: #fff;
  background-color: #a5adce;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.event:hover {
  border-color: #6f7692;
}
#post-feed.well ocfc-filter-by-types .type-filter.container div.event:active {
  color: #fff;
  background-color: #6f7692;
}
#post-feed.well .question-feed-display .post-type-icon {
  background-color: #5fcac6;
}
#post-feed.well .testimony-feed-display .post-type-icon {
  background-color: #76a5df;
}
#post-feed.well .testimony-feed-display .article {
  background-color: #e4dfdf;
  padding: 15px;
  border-radius: 5px;
}
#post-feed.well .testimony-feed-display .article .content-title {
  font-family: serif;
  font-size: 24px;
  border-bottom: 1px dashed #a9a9a9;
  vertical-align: top;
}
#post-feed.well .testimony-feed-display .article .content-body {
  margin-top: 10px;
}
ocfc-user-comment-input #user-comment-input {
  width: 100%;
  margin-top: 15px;
  height: 47px;
  padding-right: 0px;
  padding-left: 0px;
}
ocfc-user-comment-input #user-comment-input .icon img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  position: absolute;
  top: 5px;
  left: 31px;
}
ocfc-user-comment-input #user-comment-input .post-comment {
  width: 38px;
  margin-top: 12px;
}
.general-feed-display .post-type-icon {
  background-color: #a5adce;
}
.general-feed-display .post-content-photos {
  background-color: #fff;
  height: 240px;
  position: relative;
}
.general-feed-display .post-content-photos .lg-content {
  position: absolute;
  width: 357px;
  height: 240px;
  overflow: hidden;
}
.general-feed-display .post-content-photos .lg-content img {
  width: 357px;
  height: auto;
}
.general-feed-display .post-content-photos .rt-content {
  position: absolute;
  left: 360px;
  width: 180px;
  height: 117px;
  overflow-y: hidden;
}
.general-feed-display .post-content-photos .rt-content img {
  width: 180px;
  height: auto;
}
.general-feed-display .post-content-photos .rb-content {
  position: absolute;
  left: 360px;
  top: 120px;
  width: 180px;
  height: 120px;
  overflow-y: hidden;
}
.general-feed-display .post-content-photos .rb-content img {
  width: 180px;
  height: auto;
}
.general-feed-display well.post-content div.gen-post-content {
  border: 1px solid;
  min-height: 200px;
}
.general-feed-display well.post-content div.gen-post-content div.lg-content {
  background-color: #00f;
  display: inline-block;
  position: absolute;
  width: 275px;
  height: 198px;
}
.general-feed-display well.post-content div.gen-post-content div.sm-contents {
  background-color: #008000;
  display: inline-block;
  position: absolute;
  left: 285px;
  width: 245px;
  height: 198px;
}
.general-feed-display well.post-content div.gen-post-text {
  border: 1px solid;
  height: 65px;
  border-color: #696969;
  color: #696969;
}
.general-feed-display well.post-content ocfc-post-res-icons a span {
  margin-right: 15px;
  position: inherit;
  padding: 6px;
  color: #333;
  border: 1px transparent;
  color: #fff;
}
.general-feed-display well.post-content ocfc-post-res-icons a span:hover {
  background-color: #a5adce !important;
}
.event-feed-display {
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  height: 297px;
  border-color: transparent;
  background-color: transparent;
}
.event-feed-display .post-type-icon {
  background-color: #6f7692;
}
.event-feed-display .post-content div.event-container {
  border: 1px solid #696969;
  display: block;
  border-radius: 5px;
  background-color: #fff;
}
.event-feed-display .post-content div.event-container .date-info {
  border-right: 1px solid #696969;
  height: 92px;
  width: 70px;
  display: inline-block;
}
.event-feed-display .post-content div.event-container .date-info .mm-yy {
  line-height: 65px;
  font-family: serif;
  height: 65px;
  border-bottom: 1px solid #696969;
  font-size: 32px;
  text-align: center;
}
.event-feed-display .post-content div.event-container .date-info .event-time {
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  text-align: center;
}
.event-feed-display .post-content div.event-container div.event-info {
  vertical-align: top;
  display: inline-block;
  background-color: #e4dfdf;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.event-feed-display .post-content div.event-container div.event-info div.event-title {
  height: 46px;
  width: 468px;
  font-size: 20px;
  font-family: serif;
  text-indent: 20px;
  line-height: 46px;
  border-top-right-radius: 5px;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info {
  height: 46px;
  position: relative;
  border-top: 1px solid #696969;
  border-bottom-right-radius: 5px;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.event-description {
  display: inline-block;
  width: 328px;
  height: 46px;
  position: relative;
  border-right: 1px solid #696969;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.event-description p {
  margin-top: 4px;
  margin-left: 20px;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.response {
  display: inline-block;
  height: 46px;
  width: 46px;
  border-right: 1px solid #696969;
  text-align: center;
  vertical-align: top;
  background-color: #a29dbb;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.response .status-num {
  font-size: 18px;
  margin-top: 5px;
  color: #fff;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.response .status-label {
  position: relative;
  top: -5px;
  font-size: 11px;
  color: #fff;
}
.event-feed-display .post-content div.event-container div.event-info div.event-detail-info div.response.denied {
  border-right: none;
  border-bottom-right-radius: 5px;
  width: 48px;
}
.event-feed-display .post-content ocfc-post-res-icons a span {
  margin-right: 15px;
  position: inherit;
  padding: 6px;
  color: #333;
  border: 1px transparent;
  color: #fff;
}
.event-feed-display .post-content ocfc-post-res-icons a span:hover {
  background-color: #6f7692 !important;
}
.content {
  display: inline-block;
  width: 400px;
  position: relative;
  margin-left: 10px;
  padding-top: 7px;
  padding-bottom: 3px;
}
.content P:first-child {
  margin-bottom: 0px;
}
.content p:last-child {
  margin-bottom: 0px;
  font-size: 10px;
}
img.gravitar {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #d3d3d3;
  display: inline-block;
  top: -9px;
  position: relative;
}
.date-separator {
  border: 1px solid #a9a9a9;
  text-align: center;
  padding: 2px 10px 2px 10px;
  border-radius: 5px;
  width: 55px;
  margin: 5px auto 0px 77px;
  color: #a9a9a9;
}
.common-post-ui {
  width: 750px;
  position: relative;
}
.common-post-ui .line-decor {
  position: absolute;
  border-bottom: 1px solid #a9a9a9;
  top: 0px;
  width: 129px;
  height: 24px;
}
.common-post-ui .dot-decor {
  border-radius: 100px;
  width: 9px;
  height: 9px;
  position: absolute;
  left: 100px;
  top: 19px;
  background-color: #a9a9a9;
}
.common-post-ui .timeline {
  border-right: 1px solid #a9a9a9;
  height: 100%;
  width: 1px;
  position: absolute;
  left: 104px;
}
.common-post-ui .post-type-icon {
  margin-right: 13px;
  margin-top: 6px;
  border: 1px outset;
  width: 93px;
  height: 34px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}
.common-post-ui .post-type-icon .glyphicon {
  height: 12px;
  width: 12px;
  color: #fff;
  display: inline-block;
  margin-top: 8px;
  margin-left: 7px;
}
.common-post-ui .post-type-icon span {
  height: 12px;
  color: #fff;
  display: inline-block;
  margin-left: 5px;
}
.common-post-ui ocfc-user-image {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  margin-top: 3px;
  margin-left: 12px;
  vertical-align: top;
}
.common-post-ui ocfc-user-image .user-image {
  width: 100%;
  border-radius: 25px;
  position: absolute;
}
.common-post-ui .post-content {
  position: relative;
  display: inline-block;
  width: 540px;
  border-color: transparent;
  margin-left: 9px;
  margin-bottom: 30px;
}
.common-post-ui .post-content .post-content-input {
  background-color: #e4dfdf;
  padding: 15px;
  border-radius: 5px;
}
.common-post-ui .post-content .user-comment {
  background-color: #c9ced3;
  border-top: 1px solid #dde2e7;
}
.common-post-ui .post-content .user-comment ocfc-user-image {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
}
.common-post-ui .post-content .user-comment .text-input {
  display: inline-block;
  width: 441px;
  margin-left: 5px;
}
.common-post-ui .post-content .user-comment .text-input textarea {
  margin: 0px 2px 0px 0px;
  height: 27px;
  width: 438px;
  margin-top: 6px;
}
.common-post-ui .post-content .user-comment button {
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 5px;
}
.common-post-ui .post-content ocfc-post-res-icons {
  display: block;
  height: 20px;
  margin-bottom: 10px;
}
.common-post-ui .post-content ocfc-post-res-icons a span {
  margin-right: 15px;
  position: inherit;
  padding: 6px;
  color: #333;
  border: 1px transparent;
}
.common-post-ui .post-content ocfc-post-res-icons a span:hover {
  background-color: #5fcac6;
  color: #fff;
}
.common-post-ui ocfc-post-heading .common-name-heading {
  font-size: 14px;
  margin-bottom: 6px;
  color: #548abb;
  margin-top: 11px;
  display: block;
}
.common-post-ui ocfc-post-heading .common-name-heading .time-stamp {
  display: inline-block;
  margin-left: 10px;
  font-size: 11px;
  color: #a9a9a9;
}
