#members-page {
  padding-top: 60px;
}
#members-page .row {
  margin-left: 0px;
  margin-right: 0px;
}
.member-card-section {
  width: 980px;
  padding-left: 0px;
  padding-right: 0px;
}
.member-menu {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid rgba(179,179,179,0.54);
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}
.member-menu .member-menu__title h3 {
  font-size: 14px;
  color: #777;
  margin-top: 0px;
  margin-botto: 0px;
}
.member-menu .member-menu__title h3 .glyphicon {
  margin-right: 10px;
}
.member-menu .member-menu__links a {
  margin-right: 20px;
  font-size: 12px;
  line-height: 18px;
}
.member-menu .member-menu__links a .badge {
  margin-left: 10px;
  border: 1px solid #777;
  color: #777;
  background-color: #fff;
  line-height: 10px;
  font-size: 10px;
}
.invite-friends {
  width: auto;
}
.invite-widget {
  margin-top: 2px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.invite-widget__title {
  background-color: #808080;
  padding: 10px 12px;
}
.invite-widget__title h3 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
}
.invite-widget__add-emails {
  width: 50%;
  float: left;
  padding: 10px;
}
.invite-widget__add-emails .input-bar input {
  display: inline-block;
  width: 89%;
  vertical-align: top;
}
.invite-widget__add-emails .input-bar button {
  display: inline-block;
  width: 10%;
  padding: 6px 12px;
  border: 1px solid #ddd;
}
.invite-widget__add-emails .input-bar button:hover {
  background-color: #fff;
  border: 1px solid #337ab7;
}
.invite-widget__add-emails .alert {
  width: 99%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px 15px;
  font-size: 13px;
}
.invite-widget__add-emails .message {
  height: 134px;
  padding-top: 49px;
  color: #9b9b9b;
  font-size: 14px;
  text-align: center;
}
.invite-widget__add-emails .email-lists {
  border: 2px solid rgba(44,105,165,0.29);
  max-height: 132px;
  overflow-y: auto;
  margin-top: 10px;
  margin-right: 4px;
  margin-bottom: 0px;
}
.invite-widget__add-emails .email-lists li {
  color: #000;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
}
.invite-widget__add-emails .email-lists li .glyphicon-remove {
  font-size: 10px;
  color: #d5d5d5;
  cursor: pointer;
  top: 4px;
}
.invite-widget__add-emails .email-lists li .glyphicon-remove:hover {
  color: #818181;
}
.invite-widget__message {
  padding: 10px;
  width: 50%;
  float: left;
}
.invite-widget__message textarea {
  height: 177px;
}
.invite-widget__bottom {
  clear: both;
  padding: 5px;
  height: 46px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}
.invite-widget__bottom button {
  width: auto;
}
.invite-widget__bottom button .glyphicon {
  margin-right: 10px;
}
.invite-widget__bottom .cancel {
  border: none;
  margin-right: 5px;
}
.member-card {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 186px;
  height: 220px;
  padding-top: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  display: inline-block;
  position: relative;
}
.member-card .dropdown-arrow {
  top: 7px;
  right: 7px;
  position: absolute;
  color: #908e8e;
  border: 1px solid #908e8e;
  border-radius: 3px;
  font-size: 10px;
  padding: 3px;
}
.member-card .admin {
  position: absolute;
  top: 7px;
  right: 147px;
  font-size: 10px;
  padding: 2px 8px;
  background-color: #d64951;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.member-card__img-size {
  width: 130px;
  height: 130px;
}
.member-card__more-info {
  font-size: 10px;
  padding-bottom: 4px;
  cursor: pointer;
  width: 200px;
  height: 14px;
}
.member-card__name {
  font-size: 17px;
}
.member-card__triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 55px solid #fff;
  border-left: 62px solid transparent;
  position: absolute;
  top: 95px;
  left: 96px;
}
.member-card__role {
  position: absolute;
  top: 122px;
  left: 137px;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
  color: #337ab7;
}
.invite-friend .jumbotron {
  border-radius: 2px;
  background-position: -179px -296px;
  background-image: url("./images/balloonsky.jpg");
  margin-bottom: 0px;
}
.invite-friend h4 {
  font-size: 14px;
  color: #222;
  font-weight: normal;
}
.invited-list {
  margin-top: 10px;
  border: 1px solid #ddd;
}
.invited-list tr:first-child {
  border-bottom: 2px solid rgba(44,105,165,0.29);
}
.invited-list th {
  color: #908e8e;
}
.invited-list th.action {
  width: 200px;
}
.invited-list th.status {
  width: 160px;
}
.invited-list th.invited-on {
  width: 124px;
}
.invited-list td {
  color: #908e8e;
}
.invited-list .btn {
  border: 1px solid #ddd;
  padding: 4px 10px;
}
