.member-card {
  background-color: #fff;
  width: 225px;
  height: 267px;
  padding-top: 20px;
  box-shadow: 4px 4px 12px #888;
  display: inline-block;
}
.member-card__img__size {
  width: 130px;
  height: 130px;
}
.member-card__more-info {
  font-size: 10px;
  padding-bottom: 4px;
}
.member-card__name {
  font-size: 17px;
}
.member-card__triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 55px solid #fbfafa;
  border-left: 62px solid transparent;
  position: absolute;
  top: 95px;
  left: 130px;
}
.member-card__role {
  position: absolute;
  top: 122px;
  left: 170px;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
  color: #337ab7;
}
