#find-on-map {
  min-width: 1100px;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
#find-on-map>.container {
  display: block;
  position: absolute;
  width: 50%;
  min-width: 550px;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 70px;
}
.search-section {
  width: 510px;
  height: 100%;
  position: relative;
  float: right;
}
.search-section.modal-open {
  height: 55%;
}
.search-section__search-bar {
  z-index: 500;
  position: absolute;
  top: 0px;
}
.search-section__search-bar .btn-default {
  height: 34px;
}
.search-section__search-bar .choose-type {
  width: 119px;
}
.search-section__search-bar .search-box {
  width: 287px;
}
.search-section__autocomplete-result {
  color: #000;
  position: absolute;
  top: 34px;
  left: 133px;
  width: 319px;
  z-index: 1000;
  font-size: 12px;
}
.search-section__geo-code {
  color: #000;
}
.search-section__search-result {
  color: #000;
  overflow-y: auto;
  height: calc(100% - 40px);
  width: 100%;
  top: 40px;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 10px;
}
.search-section__search-result .panel {
  position: relative;
  height: 126px;
  margin-bottom: 10px;
}
.search-section__search-result h5 {
  font-size: 16px;
}
.search-section__search-result .view-summary {
  position: absolute;
  top: 25px;
  right: 80px;
  padding-left: 5px;
  font-size: 11px;
  font-weight: bold;
}
.search-section__search-result .info-box-left {
  position: absolute;
  width: 187px;
  left: 17px;
  top: 53px;
  border-right: 1px solid #ccc;
}
.search-section__search-result .info-box-right {
  position: absolute;
  width: 238px;
  left: 224px;
  top: 53px;
}
.search-section__search-result .info-value {
  color: #333;
  font-size: 12px;
}
.search-section__search-result .btn {
  position: absolute;
  top: 21px;
  right: 19px;
  padding: 4px 11px;
  border-radius: 3px;
}
.summary-section {
  width: 510px;
  height: 0%;
  bottom: 0px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
}
.summary-section.modal-open {
  height: 45%;
}
.summary-section .row {
  height: 100%;
}
.summary-section .row .col-xs-12 {
  height: 100%;
}
.summary-section__modal {
  height: 100%;
  padding: 10px 10px 20px 10px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0px rgba(50,50,50,0.75);
}
.summary-section__modal-header {
  height: 30px;
  border-bottom: 1px solid #ccc;
  position: relative;
  color: #333;
}
.summary-section__modal-header h5 {
  line-height: 30px;
  margin: 0px auto;
  font-size: 14px;
}
.summary-section__modal-header .close {
  background-image: url("./images/cross_icon.svg");
  background-size: 15px 15px;
  margin-top: 7px;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.8;
}
.summary-section__modal-header .close:hover {
  opacity: 1;
}
.summary-section__group-header {
  height: 40px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.summary-section__group-header .letter-icon {
  width: 30px;
  height: 30px;
  background-color: #a83936;
  color: #fff;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 0px;
}
.summary-section__group-header h5 {
  color: #333;
  position: absolute;
  top: 4px;
  left: 40px;
  line-height: 30px;
  margin: 0px auto;
}
.summary-section__group-header .btn {
  margin-top: 3px;
  width: 87px;
}
.summary-section__group-detail {
  height: calc(100% - 70px);
  position: relative;
  color: #333;
  overflow-y: scroll;
  padding: 8px;
}
.summary-section__group-detail h6 {
  font-weight: bold;
  color: #000;
  margin-bottom: 0px;
}
.summary-section__group-detail p {
  font-size: 13px;
}
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
#find-map {
  display: block;
  position: absolute;
  width: 50%;
  min-width: 550px;
  height: calc(100% - 50px);
  top: 50px;
  right: 0px;
}
.leaflet-popup-content {
  color: #333;
}
.selectedGroup {
  border: 2px solid #337ab7;
}
.introduction-section {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  padding: 40px;
  position: relative;
}
.introduction-section .sideline {
  position: absolute;
  top: 0px;
  width: 30px;
  height: 250px;
  border-right: 2px solid #32a0df;
}
.introduction-section .introduction-section__point {
  position: relative;
  height: 100px;
}
.introduction-section .introduction-section__point .point {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  border: 2px solid #32a0df;
  color: #32a0df;
  background-color: #fff;
}
.introduction-section .introduction-section__point .point.first {
  border: 2px solid #32a0df;
  color: #32a0df;
}
.introduction-section .introduction-section__point .title {
  font-size: 16px;
  position: absolute;
  color: #2d2d2d;
  top: 9px;
  left: 80px;
}
.introduction-section .introduction-section__point .description {
  font-size: 13px;
  color: #aeaeae;
  top: 34px;
  left: 80px;
  position: absolute;
}
.create-fellowship {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  padding: 40px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.create-fellowship .glyphicon {
  color: #d64951;
  font-size: 30px;
  display: inline-block;
}
.create-fellowship .title {
  color: #2d2d2d;
  font-size: 17px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 8px;
  vertical-align: top;
}
.create-fellowship .description {
  color: #aeaeae;
  font-size: 13px;
  margin-top: 10px;
}
.create-fellowship .form-group {
  width: 100%;
  margin-top: 10px;
}
.create-fellowship .form-group input {
  width: 80%;
}
.create-fellowship .form-group button {
  position: relative;
  width: 20%;
  top: 0px;
  right: 0px;
  padding: 10px 10px;
  border-radius: 0px;
}
