//--http://localhost:3030/find--
#find-on-map
	.jumbotron
		display block
		position fixed
		width 50%
		height 100%
		top 0px
		left 0px
		padding-top 70px

.search-section
	width: 510px
	float right
	.btn-default
		height 34px
		border-left 2px solid #C5C5C5 !important
	.choose-type
		width 100px
	.search-box
		width 300px

#find-map
	display block
	position fixed
	width 50%
	height 100%
	top 50px
	right 0px


.search-section__autocomplete-result
	color black

.search-section__geo-code
	color black

.search-section__fellowships-result
	color black

#map-container
	position absolute
	top:0
	bottom 0
	left 0
	right 0
	margin 0
	padding 0


	