#find-on-map .search-section {
  display: block;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 70px;
}
#find-on-map .search-section .container {
  width: 510px;
  float: right;
}
#find-on-map .search-section .container .btn-default {
  height: 34px;
  border-left: 2px solid #c5c5c5 !important;
}
#find-on-map .search-section .container .choose-type {
  width: 100px;
}
#find-on-map .search-section .container .search-box {
  width: 300px;
}
#find-on-map #find-map {
  display: block;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 50px;
  right: 0px;
}
#find-on-map .autocomplete-result {
  color: #000;
}
#find-on-map .geo-code {
  color: #000;
}
#find-on-map .fellowships-result {
  color: #000;
}
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
