//first-timer.jade
#first-timer
	.upload-profile-img
		width 563px
	.skip
		line-height 30px
		height 30px
	.img-container
		padding-right 0px
		.img
			//background-image url("http://res.cloudinary.com/ocfc/image/upload/v1419232870/wd7cpnwpvhdhuretfrjr.jpg")
			background-image url("./images/default_avator.jpeg")
			background-size 70px 70px
			height 70px
			width 70px
			margin-top 1px
	.progress
		background-color royalblue
		height 3px
		width 0%
		margin-top 15px
		margin-left 30px
	.start
		width 60px
		color #428bca
		font-size 18px
	.instruction-label
		margin-top 2px
		text-align left

.jumbotron.vertical-center
	margin-bottom 0px
	width 100%
	height 100%
	.container
		width 422px

.vertical-center
	min-height 100%
	min-height 100vh
	display flex
	align-items center


//left and right arrow	
.glyphicon.glyphicon-chevron-right	
	color transparent
	text-shadow none
	background-image url("./images/next.svg")
	background-size 30px 40px
	width 30px
	height 40px

.glyphicon.glyphicon-chevron-left	
	color transparent
	text-shadow none
	background-image url("./images/previous.svg")
	background-size 30px 40px
	width 30px
	height 40px
	
.left.carousel-control,
.left.carousel-control:hover
	height 0px
	background none
.right.carousel-control,
.right.carousel-control:hover
	background none

.carousel-indicators
	li
		margin-left 5px
		margin-right 5px
		background-color #999
		border 1px solid #999
	li.active
		background-color white
		border 1px solid #08c
