* {
  font-family: Helvetica, sans-serif;
}
html,
body {
  background-image: url("./images/vintage_speckles.png");
  color: #fff;
  background-color: transparent;
  height: 100%;
}
html #wrapper,
body #wrapper {
  height: 100%;
}
a {
  cursor: pointer;
}
[ngcloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
input.form-control,
input:-webkit-autofill {
  background-color: #dddcdc;
  border-radius: 0px;
  height: 34px;
  box-shadow: none;
  border: none;
  font-size: 12px;
}
input.form-control:focus {
  border: none;
  border-left: 4px solid #428bca;
  box-shadow: none;
}
button.btn {
  font-size: 10px;
  padding: 10px 25px;
  border-radius: 0px;
  border: none;
}
.dropdown button {
  background-color: #dddcdc;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.dropdown button .caret {
  float: right;
  margin-top: 5px;
}
#global-header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 50px;
  margin: 0 auto 1px;
  background: #fff;
  background: rgba(255,255,255,0.95);
  font-size: 18px;
}
#global-header .gh-content {
  display: block;
  width: 980px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
#global-header .gh-content .gh-tab {
  height: 30px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
#global-header .gh-content .gh-tab.brand {
  width: 30px;
  background-image: url("./images/ocfc_logo.png");
  background-size: 29px 29px;
}
#global-header .gh-content .gh-tab.account {
  cursor: pointer;
  width: 30px;
  background-image: url("./images/kenny_face.jpg");
  background-size: 30px 30px;
  right: 0px;
  top: 0px;
  border-radius: 5px;
}
#global-header .gh-content .gh-tab.account:hover {
  opacity: 0.7;
}
#global-header .gh-content .gh-tab.notification {
  width: 30px;
  background-image: url("./images/notification_icon.svg");
  background-size: 29px 29px;
  right: 50px;
  top: 0px;
}
#global-header .gh-content .gh-tab.explore {
  width: 83px;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  right: 100px;
  top: 0px;
  text-decoration: none;
}
#global-header .gh-content .gh-tab.explore:hover {
  text-decoration: none;
}
#global-header .gh-content .gh-tab.explore .icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}
#global-header .gh-content .gh-tab.explore .icon.cross {
  background-image: url("./images/cross_icon.svg");
}
#global-header .gh-content .gh-tab.explore .icon.explore {
  background-image: url("./images/explore_icon.svg");
}
#explore-menu {
  overflow: hidden;
  position: fixed;
  top: 50px;
  z-index: 9999;
  width: 100%;
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #808080;
}
#explore-menu .em-content {
  display: block;
  width: 980px;
  height: auto;
  margin: 20px auto;
  position: relative;
}
#explore-menu .em-content .section {
  color: #000;
  min-height: 50px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
#explore-menu .em-content .section .title {
  font-size: 15px;
  display: block;
  height: 20px;
  width: 90%;
  border-bottom: 1px solid #808080;
}
#explore-menu .em-content .section .group {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #08c;
}
#explore-menu .em-content .section .find-group {
  display: block;
  margin-top: 5px;
  width: 116px;
}
#explore-menu .em-content .section .create-group {
  display: block;
  margin-top: 5px;
  width: 116px;
}
#explore-menu .em-content .section .coming-soon {
  display: block;
  height: 120px;
  width: 90%;
  margin-top: 5px;
  line-height: 120px;
  color: #fff;
  background-color: #808080;
  text-align: center;
}
#explore-menu .em-content .section .description {
  margin-top: 5px;
  width: 90%;
  color: #808080;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
  opacity: 1;
  height: 145px;
}
.animate-show.ng-hide {
  opacity: 0;
  height: 0px;
}
.animate-icon.ng-hide-add,
-webkit-transition 0.3s linear all {
  transition: 0.3s linear all;
  -webkit-transform: rotate(0deg) scale(1);
  opacity: 1;
}
.animate-icon.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-transform: rotate(-90deg) scale(1);
  opacity: 1;
}
.animate-icon.ng-hide {
  -webkit-transition: 0.3s linear all;
  -webkit-transform: rotate(-45deg) scale(0.2);
  opacity: 0;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.jumbotron {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
.jumbotron .container {
  width: 980px;
}
.form-label {
  margin-bottom: 5px;
  color: #7f7f7f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}
.text-grey {
  color: rgba(0,0,0,0.63);
}
.cancel-button {
  background: none;
}
.info {
  border-bottom: 1px solid #dbd6d6;
  padding: 0 0 5px 0;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 15px;
}
textarea.form-control {
  height: 170px;
}
.profile-popover {
  background-color: #f7f7f7;
  top: 35px !important;
}
.profile-popover .popover-title {
  padding-top: 5px;
}
.profile-popover .popover-content {
  padding: 0px;
}
.profile-popover .popover-content ul {
  list-style-type: none;
  padding-left: 0px;
}
.profile-popover .popover-content ul li {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  height: 30px;
  width: 110px;
}
.profile-popover .popover-content ul li a {
  font-size: 12px;
  display: block;
  height: 30px;
  padding-left: 30px;
  padding-top: 6px;
  text-decoration: none;
  color: #000;
}
.profile-popover .popover-content ul li a:hover {
  background-color: #08c;
  color: #fff;
}
