*
	font-family Helvetica, sans-serif
body
	//background-image url("./images/group_study_wp.jpeg")
	background-image url("./images/binding_light.png")
	color white

[ng\:cloak], [ng-cloak], .ng-cloak
	display: none !important;

#global-header
	position fixed
	top 0px
	z-index 9999
	width 100%
	height 50px
	margin 0 auto 1px
	background white
	background rgba(255, 255, 255, 0.95)
	font-size 18px
	.gh-content
		display block
		width 980px
		height 30px
		margin auto
		margin-top 10px
		position relative
		.gh-tab
			height 30px
			background-repeat no-repeat
			display block
			position absolute
			&.brand
				width 30px
				background-image url("./images/ocfc_logo.png")
				background-size 29px 29px
			&.account
				width 30px
				background-image url("./images/kenny_face.jpg")
				background-size 30px 30px
				right 0px
				top 0px
				border-radius 5px
			&.notification
				width 30px
				background-image url("./images/notification_icon.svg")
				background-size 29px 29px
				right 50px
				top 0px
			&.explore
				width 83px
				color black
				font-size 14px
				line-height 30px
				right 100px
				top 0px
				text-decoration none
				&:hover
					text-decoration none
				.icon
					display block
					position absolute
					top 5px
					right 0px
					height 20px
					width 20px
					background-size 20px 20px
					&.cross
						background-image url("./images/cross_icon.svg")
					&.explore
						background-image url("./images/explore_icon.svg")

#explore-menu
	overflow hidden
	position fixed
	top 50px
	z-index 9999
	width 100%
	background rgba(255, 255, 255, 0.95)
	border-bottom 1px solid gray
	.em-content
		display block
		width 980px
		height auto
		margin 20px auto
		position relative
		.section
			color black
			min-height 50px
			width 25%
			display inline-block
			vertical-align top
			.title
				font-size 15px
				display block
				height 20px
				width 90%
				border-bottom 1px solid gray
			.group
				display block
				margin-top 5px
				font-size 15px
				color #08c
			.find-group
				color black
				font-size 14px
				margin-top 5px
			.coming-soon
				display block
				height 120px
				width 90%
				margin-top 5px
				line-height 120px
				color white
				background-color grey
				text-align center
			.description
				margin-top 5px
				width 90%
				color grey

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove
	-webkit-transition 0.15s linear all
	transition 0.15s linear all
	opacity 1
	height 145px

.animate-show.ng-hide
	opacity 0
	height 0px

.animate-icon.ng-hide-add,
	-webkit-transition 0.3s linear all
	transition 0.3s linear all
	-webkit-transform rotate(0deg) scale(1)
	opacity 1

.animate-icon.ng-hide-remove
	-webkit-transition 0.3s linear all
	transition 0.3s linear all
	-webkit-transform rotate(-90deg) scale(1)
	opacity 1

.animate-icon.ng-hide
	-webkit-transition 0.3s linear all
	-webkit-transform rotate(-45deg) scale(0.2)
	opacity 0



//toastr
.toast-top-right
	top 70px

.toast-success
	background-color #13987e

//Common Signup Section
#signupSection
	font-size 12px
	width 850px
	margin-left auto
	margin-right auto
	padding-top 15px
	color dimgrey
	input
		height 22px
		font-size 12px
		margin-bottom 5px
	span
		padding-top 5px
		input
			font-size 12px
			color darkgrey
			margin-bottom 5px
		label
			font-size 11px
			margin-left 4px
			margin-right 10px
			margin-bottom 0px
			vertical-align super

#signinSection
	span
		padding-top 5px
		input
			font-size 12px
			color darkgrey
			margin-bottom 5px
		label
			font-size 11px
			margin-left 4px
			margin-bottom 0px
			vertical-align super
	button
		padding-right 9px
		padding-left 9px
		border-radius 2px
		margin-left 66px
		width 55px
		height 20px
		font-size 10px

//Common ocfc Section
#ocfcSection
	text-align center
	font-size 12px
	color dimgrey
	.about
		display inline-block
		margin-right 10px
	.contact
		display inline-block

//FellowshipNew.jade
#main-content
	width 980px
	height 1500px
	margin 0px auto
	padding-left 0px
	padding-right 0px
	padding-top 60px
	.banner
		position relative
		margin-left 0px
		margin-right 0px
		width 100%
		height 300px
		border 1px solid #ffffff
		border-right none
		.group-pic
			height 100%
			padding-left 0px
			padding-right 0px
			overflow hidden
			img.group
				margin-top -150px
				width 100%
				height auto
			.overlay
				background-color #ffffff
				opacity 0.8
				width 100%
				height 80px
				bottom 0px
				position absolute
				padding-top 20px
				padding-bottom 20px
			.summary
				width 100%
				height 80px
				bottom 0px
				position absolute
				padding-top 10px
				padding-bottom 20px
				.title-section
					display inline-block
					width 70%
					height 60px
					padding-left 40px
					padding-right 20px
					vertical-align top
					.title
						font-size 28px
						color #000000
					.slogan
						font-size 13px
						color #000000
				.admin-section
					display inline-block
					width 30%
					height 60px
					vertical-align top
					padding-left 10px
					.profile-img
						display inline-block
						vertical-align top
						img.admin-profile
							width 60px
							height 60px
							border-radius 30px
							border 3px solid #000000
					.profile-desc
						padding-left 10px
						display inline-block
						vertical-align top
						.role
							font-size 14px
							color #000000
							margin-top 7px
						.name
							font-size 16px
							color #000000
		.about-us
			height 100%
			background-color #ffffff
			padding 20px 30px
			color black
			.title
				font-size 18px
				border-bottom 1px solid black
			.description
				margin-top 10px
				font-size 13px
				&:first-letter
					font-size 20px
					font-weight bold
		.about-us:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			border-width: 0 16px 16px 0;
			border-style: solid;
			border-color: #696969 #696969 lightgrey lightgrey;
			background: lightgrey;
			-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
			/* Firefox 3.0 damage limitation */
			display: block; width: 0;
		}

		.about-us.rounded {
			-moz-border-radius: 5px 0 5px 5px;
			border-radius: 5px 0 5px 5px;
		}

		.about-us.rounded:before {
			border-width: 8px;
			border-color: #fff #fff transparent transparent;
			-moz-border-radius: 0 0 0 5px;
			border-radius: 0 0 0 5px;
		}
