* {
  font-family: Helvetica, sans-serif;
}
body {
  background-image: url("./images/vintage_speckles.png");
  color: #fff;
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
}
body #wrapper {
  height: 100%;
}
a {
  cursor: pointer;
}
[ngcloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
.loading-spinner {
  background-image: url("./images/loading-spinner.gif");
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  position: absolute;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
input.form-control,
input:-webkit-autofill {
  background-color: #dddcdc;
  border-radius: 0px;
  height: 34px;
  box-shadow: none;
  border: none;
  font-size: 12px;
}
input.form-control:focus {
  border: none;
  border-left: 4px solid #428bca;
  box-shadow: none;
}
button.btn {
  font-size: 10px;
  padding: 10px 25px;
  border-radius: 0px;
  border: none;
}
.dropdown button {
  background-color: #dddcdc;
  display: inline-block;
  padding: 10px;
  width: 100%;
}
.dropdown button .caret {
  float: right;
  margin-top: 5px;
}
.global-header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  width: 100%;
  height: 50px;
  margin: 0 auto 1px;
  background: #fff;
  background: rgba(255,255,255,0.95);
  font-size: 18px;
}
.global-header__content {
  display: block;
  width: 980px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}
.global-header__gh-tab {
  height: 30px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}
.global-header__gh-tab__brand {
  width: 29px;
  height: 29px;
  background-image: url("./images/ocfc_logo.png");
  background-size: 29px 29px;
  display: list-item;
  list-style-type: none;
}
.global-header__gh-tab__account {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("./images/kenny_face.jpg");
  background-size: 30px 30px;
  right: 10px;
  top: 0px;
  border-radius: 5px;
}
.global-header__gh-tab__account:hover {
  opacity: 0.7;
}
.global-header__gh-tab__notification {
  width: 30px;
  height: 30px;
  position: absolute;
  background-image: url("./images/notification_icon.svg");
  background-size: 29px 29px;
  right: 55px;
  top: 0px;
}
.global-header__gh-tab__explore {
  position: absolute;
  width: 83px;
  color: #000;
  font-size: 14px;
  line-height: 30px;
  right: 100px;
  top: 0px;
  text-decoration: none;
  cursor: pointer;
}
.global-header__gh-tab__explore:hover {
  text-decoration: none;
  cursor: pointer;
}
.global-header__gh-tab__explore .icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 0px;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
}
.global-header__gh-tab__explore .icon.cross {
  background-image: url("./images/cross_icon.svg");
}
.global-header__gh-tab__explore .icon.explore {
  background-image: url("./images/explore_icon.svg");
}
.explore-menu {
  overflow: hidden;
  position: fixed;
  top: 50px;
  z-index: 9999;
  width: 100%;
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #808080;
}
.explore-menu__content {
  display: block;
  width: 980px;
  height: auto;
  margin: 20px auto;
  position: relative;
}
.explore-menu__content-section {
  color: #000;
  min-height: 50px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.explore-menu__content-section .title {
  font-size: 15px;
  display: block;
  height: 20px;
  width: 90%;
  border-bottom: 1px solid #808080;
}
.explore-menu__content-section .group {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #08c;
}
.explore-menu__content-section .find-group {
  display: block;
  margin-top: 5px;
  width: 116px;
}
.explore-menu__content-section .create-group {
  display: block;
  margin-top: 5px;
  width: 116px;
}
.explore-menu__content-section .coming-soon {
  display: block;
  height: 120px;
  width: 90%;
  margin-top: 5px;
  line-height: 120px;
  color: #fff;
  background-size: 100% auto;
  background-color: #808080;
  text-align: center;
  position: relative;
}
.explore-menu__content-section .coming-soon.church {
  background-image: url("./images/church_splash.jpeg");
}
.explore-menu__content-section .coming-soon.world {
  background-image: url("./images/world_splash.jpeg");
}
.explore-menu__content-section .coming-soon>div {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.25;
}
.explore-menu__content-section .coming-soon>span {
  position: absolute;
  top: 0px;
  left: 72px;
}
.explore-menu__content-section .description {
  margin-top: 5px;
  width: 90%;
  color: #808080;
}
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition: 0.15s linear all;
  transition: 0.15s linear all;
  opacity: 1;
  height: 145px;
}
.animate-show.ng-hide {
  opacity: 0;
  height: 0px;
}
.animate-icon.ng-hide-add,
-webkit-transition 0.3s linear all {
  transition: 0.3s linear all;
  -webkit-transform: rotate(0deg) scale(1);
  opacity: 1;
}
.animate-icon.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  transition: 0.3s linear all;
  -webkit-transform: rotate(-90deg) scale(1);
  opacity: 1;
}
.animate-icon.ng-hide {
  -webkit-transition: 0.3s linear all;
  -webkit-transform: rotate(-45deg) scale(0.2);
  opacity: 0;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.form-label {
  margin-bottom: 5px;
  color: #7f7f7f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10px;
}
.text-grey {
  color: rgba(0,0,0,0.63);
}
.cancel-button {
  background: none;
}
.info {
  border-bottom: 1px solid #dbd6d6;
  padding: 0 0 5px 0;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 15px;
}
input[type='text'].ocfc,
textarea.ocfc {
  background-color: #e8e8e8;
  border: none;
  color: #2f2f2f;
  padding: 5px;
  padding-left: 12px;
}
input[type='text'].ocfc:focus,
textarea.ocfc:focus {
  border-left: 4px solid #428bca;
  outline: none;
}
.profile-popover {
  background-color: #f7f7f7;
  top: 35px !important;
}
.profile-popover .popover-title {
  padding-top: 5px;
}
.profile-popover .popover-content {
  padding: 0px;
}
.profile-popover .popover-content ul {
  list-style-type: none;
  padding-left: 0px;
}
.profile-popover .popover-content ul li {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  height: 30px;
  width: 110px;
}
.profile-popover .popover-content ul li a {
  font-size: 12px;
  display: block;
  height: 30px;
  padding-left: 30px;
  padding-top: 6px;
  text-decoration: none;
  color: #000;
}
.profile-popover .popover-content ul li a:hover {
  background-color: #08c;
  color: #fff;
}
.widget-title-wo-link {
  color: #000;
  margin-bottom: 10px;
  margin-top: 12px;
  padding-bottom: 6px;
  height: auto;
  border-bottom: 1px solid #b3b3b3;
}
.widget-title-wo-link h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid #32a0df;
  display: inline;
  font-size: 16px;
  color: rgba(0,0,0,0.7);
}
.text-black {
  color: #000;
}
.text-dark-grey {
  color: #908e8e;
}
.members-widget {
  display: inline-block;
}
.members-widget img {
  width: 58px;
  height: 58px;
  margin: 1px;
  display: inline-block;
  vertical-align: top;
}
.members-widget .all {
  display: inline-block;
  width: 58px;
  height: 58px;
  margin: 1px;
  background-color: #32a0df;
  vertical-align: top;
  line-height: 58px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.members-widget .all:hover {
  font-weight: bold;
}
.page-content__welcome {
  text-shadow: 1px 1px 8px #000;
}
.signin-section .container,
.signup-section .container {
  padding-left: 0px;
  padding-right: 0px;
}
.signin-section input,
.signup-section input {
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 5px;
}
.signin-section label,
.signup-section label {
  font-size: 11px;
  margin-left: 4px;
  margin-bottom: 0px;
  vertical-align: super;
  color: #000;
}
.signin-section__second-row input {
  float: left;
  width: 129px;
}
.signin-section__second-row button {
  float: left;
}
.signin-section__third-row label {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  color: #696969;
}
.signin-section__third-row input {
  float: left;
  margin-top: 5px;
  margin-left: 0px;
}
.signin-section__third-row a {
  float: left;
  margin-top: 3px;
  margin-left: 10px;
}
.jumbotron.vertical-center {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.ocfcSection {
  text-align: center;
  font-size: 12px;
  color: #696969;
}
.ocfcSection__about {
  display: inline-block;
  margin-right: 10px;
}
.ocfcSection__contact {
  display: inline-block;
}
.full-width-widget-header-style1 {
  border-bottom: 1px dotted #a9a9a9;
  padding-top: 10px;
  padding-bottom: 10px;
}
.widget-title-with-link {
  border-bottom: 1px solid #000;
  margin-top: 20px;
}
.widget-title-with-link .more-link {
  text-decoration: none;
}
