#filter-container .filter-bar {
  height: 60px;
  width: 790px;
  z-index: 1000;
  background-color: #f0f0f0;
}
#filter-container .filter-bar .zip-search-container {
  height: 60px;
}
#filter-container .filter-bar .zip-search-container input {
  margin-top: 15px;
}
#filter-container .filter-bar .name-search-container {
  height: 60px;
}
#filter-container .filter-bar .name-search-container input {
  margin-top: 15px;
}
#fellow-no-resize {
  width: 800px;
}
#fellow-no-resize .fellowships-wrapper {
  margin-left: 0px;
  margin-right: 0px;
}
#fellow-img img {
  width: 150px;
}
#status {
  margin-top: 35px;
}
button.btn {
  border-radius: 5px;
  color: #fff;
  background-color: #4ab6d8;
}
.fellowships-wrapper.well.row {
  background-color: rgba(211,211,211,0.35);
}
