#landing-page.jumbotron {
  background: url("./images/group_study_wp.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.page-content {
  font-size: 12px;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 15px;
}
.page-content .row {
  margin-bottom: 5px;
}
.page-content__welcome {
  color: #fff;
  margin-top: 50px;
}
.page-content__welcome h2 {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}
legend {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  margin-bottom: 5px;
  font-size: 18px;
  padding-bottom: 5px;
}
legend span {
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 14px;
  margin-left: 10px;
  color: #9b9b9b;
}
.dropdown {
  display: inline-block;
}
.dropdown.month {
  width: 64px;
  margin-right: 5px;
}
.dropdown.date {
  width: 64px;
  margin-right: 5px;
}
.dropdown.year {
  width: 85px;
}
.row.forth {
  margin-top: 8px;
  margin-bottom: 4px;
}
.row.last {
  margin-top: 7px;
}
.row.last .gender {
  float: left;
  display: block;
  height: 30px;
  margin-right: 5px;
}
.row.last .gender input {
  position: relative;
  top: 5px;
}
.row.last .gender label {
  position: relative;
  top: 5px;
  left: 5px;
  padding-right: 10px;
}
