//Common Signup Section
//--http://onechurchforchrist.org/--
//page layout
#landing-page.jumbotron
	background url(./images/group_study_wp.jpeg) no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	height 100%
	width 100%
	padding-top 0px
	padding-bottom 0px
	margin-bottom 0px
	position absolute
//layout
.page-content
	font-size 12px
	width 850px
	margin-left auto
	margin-right auto
	margin-top 50px
	padding-top 15px
	.row
		margin-bottom 5px

.page-content__welcome
	color white
	margin-top 50px
	h2
		font-family "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif"



//TODO refectoring needed for signup styl
legend
	font-family "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif"
	margin-bottom 5px
	font-size 18px
	padding-bottom 5px
	span
		font-family "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif"
		font-size 14px
		margin-left 10px
		color rgb(155, 155, 155)
.dropdown
	display inline-block
.dropdown.month
	width 56px
	margin-right 5px
	color darkgray
.dropdown.date
	width 56px
	margin-right 5px
	color darkgray
.dropdown.year
	width 56px
	color darkgray
.row.forth
	margin-top 8px
	margin-bottom 4px
.row.last
	margin-top 7px
	.gender
		float left
		display block
		height 30px
		margin-right 5px
		input
			position relative
			top 5px
		label
			position relative
			top 5px
			left 5px
			padding-right 10px
			color black

