//member.jade, centering modal position
.modal-dialog-center
    margin-top 17%

#members
  .member-wrapper
    display inline-block
    padding-right 15px
    .member-list
      position relative
      top 100px
      left -600px
      height 100px
      img
        width 65px
        height 50px
        margin-left 20px
        margin-top 15px
        border-radius 15px
    .member-button-group
      margin-top -12px

#status-margin
  margin-left 1px
