.current-image-viewer
	position fixed
	top 50px
	left 0px
	background-color #000
	width 1315px
	height 1315px
	width 100%
	height 100%
	img
		position absolute
		left 52px
		top 100px
		width 865px

.image-comment
	position fixed
	top 150px
	color #000000
	border 1px solid white
	left 917px
	width 341px
	height 577px
	background-color #ffffff
	img
		width 50px
		height 50px
		position absolute
		top 10px
		left 10px
.image-comment__user-info
	height 45px
	width 245px
	position absolute
	left 62px
	top 10px

.image-comment__user-name
	height 20px
	position absolute
	width 240px
	right 1px
	bottom 22px
	font-size 13px

.image-comment__post-date
	height 20px
	position absolute
	width 240px
	top 22px
	right 1px
	font-size 10px

.left-click
	position fixed
	top 435px
	left 52px
	background-color #B3B3B6
	height 39px
	width 54px
	z-index 1
	font-size 17px

.right-click
	top 435px
	left 864px
	position fixed
	z-index 1
	width 53px
	height 39px
	background-color #B3B3B6

.close-popup
	position fixed
	font-size 25px
	top 73px
	right 115px
	width 50px
	height 50px
	text-align center
	color white

.image-comment__links
	position: absolute;
	top: 61px;
	width: 323px;
	.comment
		display: inline-block;
		margin-right: 5px;
		font-size: 11px;
	.share
		display: inline-block;
		font-size: 11px;
.image-comment__outputs
	position: relative;
	top: 89px;
	left: -1px;
	width: 325px;
	height: 49px;
	background-color: #e8f3f7;

.image-comment__commentor-img
	width: 35px;
	height: 35px;
	position: absolute;
	top: 5px;
	left: 5px;
	img
		width: 35px;
		height: 35px;
		left: -1px;
		top: -1px;

.user-info__user-name
	position: absolute;
	left: 45px;
	top: 5px;
	font-size: 11px;
	font-weight: 800;

.user-info__user-comment
	position: absolute;
	top: 5px;
	left: 95px;
	font-size: 11px;

.user-info__timestamp
	position: absolute;
	left: 287px;
	font-size: 10px;
	width: 35px;
	top: 3px;

.comment-inputs
	position: absolute;
	top: 455px;
	width: 323px;
	img
		width: 35px;
		height: 35px;
		position: absolute;
		top: 0px;
		left: 1px;
	button
		font-size: 10px;
		position: absolute;
		left: 274px;
		top: 5px;
		height: 25px;
	textarea
		margin-left: 43px;
		margin-right: 0px;
		margin-top: 5px;
		width: 278px;
		height: 25px;

