.post-event-widget__calendar {
  width: 80px;
  color: #000;
  display: inline-block;
  vertical-align: top;
}
.post-event-widget__calendar .month {
  background-color: #d64951;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.post-event-widget__calendar .date {
  border: 1px solid #d2d2d2;
  font-size: 50px;
  text-align: center;
  height: 61px;
  line-height: 61px;
}
.post-event-widget__calendar .time {
  border: 1px solid #d2d2d2;
  background-color: #e8e8e8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.post-event-widget__desc {
  display: inline-block;
  width: 415px;
  margin-left: 15px;
  vertical-align: top;
}
.post-event-widget__desc .title {
  font-size: 18px;
  border-bottom: 1px dotted rgba(210,210,210,0.39);
}
.post-event-widget__desc .desc {
  margin-bottom: 5px;
}
.post-event-widget__desc .date .glyphicon,
.post-event-widget__desc .where .glyphicon,
.post-event-widget__desc .host-by .glyphicon {
  font-size: 18px;
}
.post-event-widget__desc .date span,
.post-event-widget__desc .where span,
.post-event-widget__desc .host-by span {
  vertical-align: top;
  margin-left: 5px;
  line-height: 20px;
}
