#ocfc-wall-input
	&.post-msg-box
		margin-bottom 10px
		background-color white
	.wall-header
		height 44px

.wall-img
	position relative
	top 144px
	left 22px
	width 539px
	height 37px

.wall-img__image-section
	position relative
	height 36px
	width 40px
	display inline-block

.wall-img__images
	width 35px
	height 35px
	margin-right 5px
	position absolute

.wall-img__image-delete
	position absolute
	color #070606
	left 18px
	font-size 7px
	border-radius 1px
	padding 1px 4px

.wall-header__post-type-dropdown
	button
		position absolute
		top 38px
		right 98px
		height 37px

.wall-header__post-button
	position absolute
	left 487px
	margin-left 5px
	margin-right 5px
	padding-right 45px
	top 38px
	height 37px

.wall-header__textbox
	width 538px
	height 122px
	position absolute
	left 24px
	border-radius:0px;
	box-shadow none
	border none
	font-size 12px
	margin-top 7px
	margin-bottom 0px
	background-color rgb(221, 220, 220)

