.announcement-widget {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.announcement-widget img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  margin-right: 6px;
}
.announcement-widget__annouce-profile-desc {
  width: 100%;
  height: auto;
  margin-top: 5px;
  vertical-align: top;
  display: inline-block;
}
.announcement-widget__annouce-profile-desc img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  margin-right: 6px;
}
.announcement-widget__annouce-profile-desc .name {
  font-size: 14px;
  color: #000;
}
.announcement-widget__annouce-profile-desc .date {
  margin-top: -2px;
  font-size: 10px;
  color: rgba(53,53,53,0.81);
}
.announcement-widget__announcement-description {
  font-size: 13px;
  margin-top: 5px;
  color: #2f2f2f;
}
.announcement-widget__output-edit {
  height: 28px;
  position: relative;
  top: -17px;
}
.announcement-widget__output-edit textarea {
  position: relative;
  height: 26px;
  width: 255px;
}
.announcement-widget__options {
  position: relative;
  top: -31px;
  width: 173px;
  left: 260px;
}
.announcement-widget__options .cancel {
  position: relative !important;
  left: 15px !important;
  padding: 6px 17px !important;
}
.announcement-widget__options .done {
  position: relative !important;
  left: 15px !important;
  padding: 6px 17px !important;
}
