.post-event-widget__calendar
	width 80px
	color black
	display inline-block
	vertical-align top
	.month
		background-color #d64951
		border-top-right-radius 5px
		border-top-left-radius 5px
		text-align center
		color white
		font-weight bold
	.date
		border 1px solid #D2D2D2
		font-size 50px
		text-align center
		height 61px
		line-height 61px
	.time
		border 1px solid #D2D2D2
		background-color #e8e8e8
		border-bottom-right-radius 5px
		border-bottom-left-radius 5px
		text-align center
		font-size 10px
		font-weight bold
.post-event-widget__desc
	display inline-block
	width 415px
	margin-left 15px
	vertical-align top
	.title
		font-size 18px
		border-bottom 1px dotted rgba(210,210,210,0.39)
	.desc
		margin-bottom 5px
	.date
	.where
	.host-by
		.glyphicon
			font-size 18px
		span
			vertical-align top
			margin-left 5px
			line-height 20px