#ocfc-wall-input.post-msg-box {
  margin-bottom: 10px;
  background-color: #fff;
  height: 345px;
}
#ocfc-wall-input .wall-header {
  height: 44px;
}
.wall-img {
  position: relative;
  top: 167px;
  left: 22px;
  width: 539px;
  height: 37px;
}
.wall-img__image-section {
  position: relative;
  height: 36px;
  width: 40px;
  display: inline-block;
}
.wall-img__images {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  position: absolute;
  top: 92px;
}
.wall-img__image-delete {
  position: absolute;
  color: #070606;
  left: 18px;
  font-size: 7px;
  border-radius: 1px;
  padding: 1px 4px;
  top: 92px;
}
.wall-header__post-type-dropdown button {
  position: absolute;
  top: 38px;
  right: 98px;
  height: 37px;
}
.wall-header__post-button {
  position: absolute;
  left: 487px;
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 45px;
  top: 38px;
  height: 37px;
}
.wall-header__textbox {
  width: 538px;
  height: 122px;
  position: absolute;
  left: 24px;
  top: 201px;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 0px;
  background-color: #dddcdc;
  bottom: 35px;
}
.wall-header__title {
  position: absolute;
  top: 77px;
  left: 24px;
  height: 31px;
  width: 538px;
  font-size: 12px;
}
.wall-header__event-title {
  width: 539px;
  height: 25px;
  margin-left: 7px;
}
.wall-header__event-fromDate {
  position: relative;
  bottom: 3px;
  height: 25px;
  margin-left: 7px;
}
.wall-header__event-toDate {
  position: relative;
  bottom: 3px;
  height: 25px;
  margin-left: 7px;
}
.wall-header__event-where {
  margin: 0px;
  width: 539px;
  height: 25px;
  margin-left: 7px;
}
.wall-header__event-hostBy {
  width: 539px;
  height: 25px;
  margin-left: 7px;
}
