.general-post
	height auto
	border 1px solid
	background-color white
	box-shadow 0 1px 5px rgba(0,0,0,0.25)
	//box-shadow 0 1px 1px rgba(0, 0, 0, .5)
	border-radius 5px

.general-post__header
	position relative
	height 48px
	border-bottom 1px solid rgba(210, 210, 210, 0.39)
	>img
		width 35px
		height 35px
		border-radius 5px
		display inline-block
		position absolute
		left 5px
		top 5px
	>.name
		position absolute
		left 48px
		top 5px
		font-size 14px
		color #000
	>.date
		font-size 10px
		left 48px
		position absolute
		top 24px
		color rgba(53,53,53,0.81)
	>.type
		position absolute
		font-size 12px
		background-color #E8E8E8
		color white
		padding 5px 24px
		color rgba(53,53,53,0.81)
		top 9px
		right -3px
		border-right 2px solid #32a0df

.general-post__image-display
	padding 5px
	border-bottom 1px solid rgba(210, 210, 210, 0.39)

.general-post__output
	height auto
	width 555px
	padding-left 15px
	font-size 14px
	padding 17px 19px
	color #2f2f2f

.general-post__comment-output
	background-color #E8E8E8
	padding 6px 5px
	position relative
	img
		width 30px
		height 30px
		border-radius 2px
		position absolute
		top 6px
		left 5px
	.text
		padding-left 40px
		padding-right 30px
		.name
			font-size 12px
			display inline-block
			font-weight bold
			margin-right 2px
			color #007CC3
		.date
			font-size 12px
			color rgba(53,53,53,0.81)
			display inline-block
			margin-left 5px
		.output
			margin-left 5px
			font-size 12px
			color black
.general-post__comment-input
	width 555px
	height auto
	position relative
	background-color #E8E8E8
	padding 5px
	textarea
		width 478px
		height 28px
		padding 5px
		border 1px solid #b3b3b3
		font-size 12px
		resize none
		color black
	button
		padding 7px 11px !important
		position relative !important

.general-post__delete-comment
	position relative
	left 525px
	top -37px

.general-post__edit-delete
	position absolute !important
	top 0px !important
	left 537px !important
	padding 2px 3px !important

.general-post__output-edit
	padding-left 19px
	font-size 12px
	position relative
	bottom: 41px
	textarea
		margin 0px
		width 511px
		height 40px

.general-post__options-btn
	position relative!important
	left 378px!important
	padding 6px 17px!important


//image directives

.one-img-layout
	width 100%
	position relative
	img
		width 100%

.two-img-layout
	position relative
	left 30px
	height 504px
	width 555px
	img
		width 532px
		height 244px
		padding-left 19px

.three-img-layout
	position relative
	left 30px
	height 430px
	width 555px
	.pic-0
		position absolute
		width 532px
		height 244px
		padding-left 19px
	.pic-1
		position absolute
		top 244px
		padding-left 19px
		width 275px
	.pic-2
		position absolute
		top 244px
		padding-left 19px
		width 276px
		left 256px

.four-img-layout
	position relative
	left 30px
	height 440px
	width 555px
	.pic-0
		position absolute
		height 217px
		padding-left 19px
		width 275px
	.pic-1
		position absolute
		height 217px
		padding-left 19px
		width 276px
		left 256px
	.pic-2
		position absolute
		top 217px
		height 210px
		padding-left 19px
		width 275px
	.pic-3
		position absolute
		top 217px
		height 210px
		padding-left 19px
		width 276px
		left 256px

.five-img-layout
	padding-left 23px
	width 555px
	position relative
	left 30px
	height 391px
	.pic-0
		position absolute
		width 275px
		height 170px
	.pic-1
		width 275px
		height 204px
		position absolute
		top 170px
	.pic-2
		position absolute
		top 0px
		height 125px
		left 297px
		width 232px
	.pic-3
		position absolute
		top 125px
		height 125px
		left 297px
		width 232px
	.pic-4
		position absolute
		top 249px
		height 125px
		left 297px
		width 232px

.general-post__title
	position relative
	left 12px
	padding-left 5px
	width 461px