ocfc-about-us
	position relative
	display block
	height 80px
.about-us-widget
	width 100%
	height auto
	margin-top 5px
	&.edit-hover
		position relative
		border 1px solid #32a0df

.glyphicon-pencil
	float right
	font-size 11px
	margin-top -13px
	margin-right -6px
	position relative
	bottom 0px
	right 0px
	background-color #32a0df
	color white
	width 17px
	height 17px
	border-radius 15px
	line-height 17px
	text-align center
	cursor pointer

.about-us-widget__annouce-profile-desc
	width 100%
	height auto
	margin-top 5px
	img
		width 35px
		height 35px
		border-radius 5px
		vertical-align top
		display inline-block
		margin-right 6px
	vertical-align top
	display inline-block
	.name
		font-size 14px
		color #000000
	.date
		margin-top -2px
		font-size 10px
		color rgba(53, 53, 53, 0.81)

.about-us-widget__about-us-description
	font-size 13px
	margin-top 5px
	color #2F2F2F

.about-us-widget__output-edit
	position relative
	background-color white
	padding 3px
	textarea
		position relative
		height 70px
		width 100%
		
.about-us-widget__options
	position relative
	width 190px
	height 26px
	left 228px
	.cancel
		position relative !important
		left 64px !important
		padding 6px 17px !important
		top 0px !important
	.done
		position relative !important
		left 64px !important
		padding 6px 17px !important
		top 0px !important