.post-widget__output .title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Fantasy;
  padding-bottom: 5px;
  font-size: 18;
  color: #2f2f2f;
  border-bottom: 1px dotted rgba(210,210,210,0.39);
}
.post-widget__output p {
  margin-top: 2px;
  color: #2f2f2f;
}
.type.testimony {
  border-color: #c8d351;
}
