.post-widget {
  height: auto;
  border: 1px solid;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25);
  border-radius: 5px;
}
.post-widget__header {
  position: relative;
  height: 48px;
  border-bottom: 1px solid rgba(210,210,210,0.39);
}
.post-widget__header >img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.post-widget__header >.name {
  position: absolute;
  left: 48px;
  top: 5px;
  font-size: 14px;
  color: #000;
}
.post-widget__header >.date {
  font-size: 10px;
  left: 48px;
  position: absolute;
  top: 24px;
  color: rgba(53,53,53,0.81);
}
.post-widget__header >.new {
  position: absolute;
  top: 14px;
  right: 100px;
}
.post-widget__header >.type {
  position: absolute;
  font-size: 12px;
  background-color: #e8e8e8;
  color: #fff;
  padding: 5px 24px;
  color: rgba(53,53,53,0.81);
  top: 9px;
  right: -7px;
  border-right: 6px solid #32a0df;
}
.post-widget__image-display {
  padding: 5px;
  border-bottom: 1px solid rgba(210,210,210,0.39);
}
.post-widget__output {
  height: auto;
  width: 555px;
  padding-left: 15px;
  font-size: 14px;
  padding: 17px 19px;
  color: #2f2f2f;
  position: relative;
}
.post-widget__output .edit {
  background-color: #e8e8e8;
  position: absolute;
  padding: 0px 4px;
  top: 0px;
  right: 0px;
}
.post-widget__comment-output {
  background-color: #e8e8e8;
  padding: 6px 5px;
  position: relative;
}
.post-widget__comment-output .glyphicon-remove {
  color: #d5d5d5;
  font-weight: 100;
  position: absolute;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
.post-widget__comment-output .glyphicon-remove:hover {
  color: #818181;
}
.post-widget__comment-output img {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  position: absolute;
  top: 6px;
  left: 5px;
}
.post-widget__comment-output .text {
  padding-left: 40px;
  padding-right: 30px;
}
.post-widget__comment-output .text .new {
  opacity: 0.8;
  display: block;
  background: #d64951;
  border-radius: 5px;
  top: 13px;
  position: absolute;
  right: 33px;
  font-size: 9px;
  padding: 0px 5px;
}
.post-widget__comment-output .text .name {
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
  color: #007cc3;
}
.post-widget__comment-output .text .date {
  font-size: 12px;
  color: rgba(53,53,53,0.81);
  display: inline-block;
  margin-left: 5px;
}
.post-widget__comment-output .text .output {
  margin-left: 5px;
  font-size: 12px;
  color: #2f2f2f;
}
.post-widget__comment-input {
  width: 555px;
  height: auto;
  position: relative;
  background-color: #e8e8e8;
  padding: 5px 5px 0px 5px;
}
.post-widget__comment-input textarea {
  width: 478px;
  height: 28px;
  padding: 5px;
  border: 1px solid #b3b3b3;
  font-size: 12px;
  resize: none;
  color: #000;
}
.post-widget__comment-input button {
  padding: 7px 11px !important;
  position: relative !important;
}
.post-widget__delete-comment {
  position: relative;
  left: 525px;
  top: -37px;
}
.post-widget__edit-delete {
  position: absolute !important;
  top: 0px !important;
  left: 537px !important;
  padding: 2px 3px !important;
}
.post-widget__output-edit {
  font-size: 14px;
  position: relative;
  border: 1px solid rgba(179,179,179,0.22);
  margin-left: 1%;
  margin-top: 5px;
  padding: 5px;
  width: 98%;
}
.post-widget__output-edit input {
  width: 100%;
  background-color: #e8e8e8;
  font-size: 14px;
  color: #2f2f2f;
  margin-bottom: 3px;
}
.post-widget__output-edit textarea {
  background-color: #e8e8e8;
  width: 100%;
  border: none;
  color: #2f2f2f;
  padding: 5px;
  padding-left: 12px;
}
.post-widget__output-edit textarea:focus {
  border-left: 4px solid #428bca;
  outline: none;
}
.post-widget__options .btn {
  position: relative !important;
  left: 408px !important;
  padding: 6px 17px !important;
  margin-left: 2px;
}
.one-img-layout {
  width: 100%;
  position: relative;
}
.one-img-layout img {
  width: 100%;
}
.two-img-layout {
  position: relative;
  width: 100%;
}
.two-img-layout img {
  width: 50%;
  height: 244px;
  display: inline-block;
  border: 2px solid #fff;
}
.three-img-layout {
  position: relative;
  width: 100%;
  height: 300px;
}
.three-img-layout .pic-0 {
  position: absolute;
  width: 50%;
  height: 300px;
  border: 2px solid #fff;
}
.three-img-layout .pic-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 150px;
  border: 2px solid #fff;
}
.three-img-layout .pic-2 {
  position: absolute;
  top: 150px;
  width: 50%;
  right: 0px;
  height: 150px;
  border: 2px solid #fff;
}
.four-img-layout {
  position: relative;
  width: 100%;
  height: 300px;
}
.four-img-layout .pic-0 {
  position: absolute;
  width: 50%;
  height: 150px;
  top: 0px;
  left: 0px;
  border: 2px solid #fff;
}
.four-img-layout .pic-1 {
  position: absolute;
  width: 50%;
  height: 150px;
  bottom: 0px;
  left: 0px;
  border: 2px solid #fff;
}
.four-img-layout .pic-2 {
  position: absolute;
  width: 50%;
  height: 150px;
  top: 0px;
  right: 0px;
  border: 2px solid #fff;
}
.four-img-layout .pic-3 {
  position: absolute;
  width: 50%;
  height: 150px;
  bottom: 0px;
  right: 0px;
  border: 2px solid #fff;
}
.five-img-layout {
  position: relative;
  width: 100%;
  height: 360px;
}
.five-img-layout img {
  border: 2px solid #fff;
}
.five-img-layout .pic-0 {
  position: absolute;
  width: 50%;
  height: 180px;
  top: 0px;
  left: 0px;
}
.five-img-layout .pic-1 {
  position: absolute;
  width: 50%;
  height: 180px;
  bottom: 0px;
  left: 0px;
}
.five-img-layout .pic-2 {
  position: absolute;
  width: 50%;
  height: 120px;
  right: 0px;
  top: 0px;
}
.five-img-layout .pic-3 {
  position: absolute;
  width: 50%;
  height: 120px;
  top: 120px;
  right: 0px;
}
.five-img-layout .pic-4 {
  position: absolute;
  width: 50%;
  height: 120px;
  bottom: 0px;
  right: 0px;
}
.post-widget__title {
  position: relative;
  left: 12px;
  padding-left: 5px;
  width: 461px;
}
