.registration-msg {
  background-image: url("./images/ocfc_logo.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: 0px;
  width: 420px;
}
.registration-msg__thank-you {
  margin-top: 11px;
  margin-bottom: 0px;
  width: 360px;
}
.registration-msg__check-email {
  width: 355px;
  margin-top: 2px;
  color: #2a6496;
}
