//--http://onechurchforchrist.org/setting--

.setting.jumbotron
	margin-bottom 0px
	width 100%
	height 100%
	.container
		width 980px

.setting--bday-info
	.dropdown.select-box
		width 63px
		display inline-block
		margin-right 10px
		&.year
			width 126px

//setting for header labels
.setting--basic-information__info
	border-bottom 1px solid #DBD6D6
	padding 0 0 5px 0
	font-weight 500
	margin-top 25px
	margin-bottom 15px
