#setting.jumbotron {
  margin-top: 30px;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}
#setting.jumbotron .container {
  width: 980px;
}
.basic-info-edit__bday-input .dropdown.select-box {
  width: 63px;
  display: inline-block;
  margin-right: 10px;
}
.basic-info-edit__bday-input .dropdown.select-box.year {
  width: 126px;
}
