//--http://onechurchforchrist.org/setting--

/****************************LAYOUT***************************************/
#setting
	.container.basic-info-edit
		width 980px
		margin-top: 55px;

/****************************COMPONENTS***********************************/

//Birthday Input
.basic-info-edit__bday-input
	.bday-input
		width 62px;

