body {
  padding-top: 69px;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
a.navbar-brand {
  width: 300px;
}
.navbar-right {
  height: 70px;
}
.navbar-right .dropdown {
  height: 70px;
  width: 150px;
}
.navbar-right .dropdown a {
  height: 70px;
  padding-top: 26px;
  padding-right: 20px;
}
.navbar-right .dropdown .dropdown-menu li a {
  height: 40px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}
.toolbar-search {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 370px;
}
.toolbar-search input {
  padding-right: 30px;
}
.toolbar-search i {
  position: absolute;
  right: 15px;
  top: -2px;
  padding: 10px 12px;
  pointer-events: none;
}
.toolbar-language {
  position: absolute;
  top: 20px;
  width: 100px;
  right: 250px;
  padding-top: 5px;
  padding-left: 10px;
  vertical-align: top;
}
.toolbar-language i {
  font-size: 1.6em;
}
.toolbar-language span {
  padding-left: 10px;
  line-height: 25px;
  vertical-align: top;
}
.toolbar-message {
  position: absolute;
  top: 20px;
  width: 50px;
  right: 200px;
  padding-top: 5px;
  padding-left: 10px;
}
.toolbar-message i {
  font-size: 1.6em;
}
.toolbar-notification {
  position: absolute;
  top: 20px;
  width: 50px;
  right: 150px;
  padding-top: 5px;
  padding-left: 10px;
}
.toolbar-notification i {
  font-size: 1.6em;
}
body {
  padding-top: 60px;
  overflow: hidden;
}
#header {
  margin-bottom: 0px;
  min-width: 1040px;
  height: 70px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.7);
  background-image: url("images/ocfc_logo.png");
  background-repeat: no-repeat;
}
#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 1040px;
  position: absolute;
  top: 0px;
  left: 0;
  display: inline-block;
}
#main-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 70px 0 0px 250px;
  width: 100%;
}
#main {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 0 15px;
  background-color: #f0f0f0;
}
#sidebar-wrapper {
  height: 100%;
  padding: 80px 0 0px 0;
  position: fixed;
  left: 0px;
  border-right: 1px solid #808080;
  float: left;
  width: 250px;
  z-index: 400;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.7);
}
#sidebar {
  position: fixed;
  z-index: 3000;
  left: 0px;
  height: 100%;
  overflow-y: auto;
}
#sidebar .list-group {
  z-index: 300000;
}
#sidebar .list-group .list-group-item {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #000;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.sub-menu a {
  background-color: #eee;
  padding-left: 30px;
}
.sub-menu span.glyphicon {
  padding-left: 10px;
  padding-right: 10px;
}
#content {
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}
#filterContainer {
  position: fixed;
  top: 0;
  left: 250px;
  right: 20px;
  padding-top: 70px;
  z-index: 1000;
}
#filterContainer .filter-bar {
  height: 60px;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  background-color: #f0f0f0;
}
#filterContainer .filter-bar .zip-search-container {
  height: 60px;
}
#filterContainer .filter-bar .zip-search-container input {
  margin-top: 15px;
}
#filterContainer .filter-bar .name-search-container {
  height: 60px;
}
#filterContainer .filter-bar .name-search-container input {
  margin-top: 15px;
}
#joinFellow .list-page {
  padding-top: 60px;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}
#joinFellow .list-page .fellowships-wrapper .well.well-lg.fellowship {
  position: relative;
  background: #fff;
}
#joinFellow .list-page .fellowships-wrapper .well.well-lg.fellowship .btn-group {
  position: absolute;
  right: 60px;
}
