//church.jade
.main-content.container
	.row.main-content--banner
		.col-md-9.main-content--banner__group-pic
			img.main-content--banner__group-pic__group(ng-src='/css/images/TimothyFellowship2.jpg')
			.main-content--banner__group-pic__overlay
			.main-content--banner__group-pic__summary
				.main-content--banner__group-pic__summary--title-section
					.main-content--banner__group-pic__summary--title-section__title 三景城基督教會
					.main-content--banner__group-pic__summary--title-section__slogan 1987 Mountain View, CA 94030
		.col-md-3.main-content--banner__about-us
			.main-content--banner__about-us--logo
				img.fellow-logo(ng-src='/css/images/fellowship_logo.png')
			.main-content--banner__about-us--title About Us
			.main-content--banner__about-us--border
			.main-content--banner__about-us--description 大安森林食堂據說是日本最大的庶民連鎖自助餐，試營運期間就大排長龍，原本想說應該是有七折優惠的魅力，等風潮過後再來輕鬆吃。特別約了前同事休假一起來嚐鮮，沒想到扣折結束後，平日中午來還是繼續排排隊，店門口一堆人在候位，好在我跟友人話多，聊不完的天，一個小時也就這樣排到了。
	.row.main-content--dynamic-content
		.col-md-3.main-content--dynamic-content__left-sidebar
			.widget-title-wo-link Announcement
			ocfc-announcement
			.widget-title-with-link
				span.title.text-black Fellowship
				a.more-link.text-black.pull-right more
			ocfc-fellowships
			.widget-title-wo-link New Friend
			ocfc-new-friend(group-type="'church'")
			.widget-title-wo-link Pastoral
			ocfc-pastoral
		.col-md-6.main-content--dynamic-content__wall
			.widget-title-wo-link Write to Wall
			ocfc-wall
		.col-md-3.right-sidebar
			.widget-title-wo-link Calendar
			ocfc-calendar
			.widget-title-wo-link Event
			ocfc-event
			.widget-title-wo-link Birthday
			ocfc-birthday
