//Navigation page
//index.jade
extends ../includes/layout

block main-content
	#global-header
		.gh-content
			a.gh-tab.brand(href="/")
			a.gh-tab.explore(href="/",ng-click='exploreDropDown = !exploreDropDown')
				|Explore
				span.icon.explore.animate-icon(ng-show="!exploreDropDown")
				span.icon.cross.animate-icon(ng-show='exploreDropDown' ng-cloak, class="ng-cloak")
			a.gh-tab.notification(href="/")
			a.gh-tab.account(href="/")
	#explore-menu.animate-show(ng-show='exploreDropDown' ng-cloak, class="ng-cloak")
		.em-content(ng-class='{hide: hideExploreContent}')
			.section.personal
				.title Personal
				.description This is your personal space more text to take up space.
				.find-group Go to My Personal Page >
			.section.fellowship
				.title Fellowship
				a.group 提摩太團契
				.find-group Find a Fellowship >
			.section.church
				.title Church
				a.group 山景城基督徒會堂
				.find-group Find a Church >
			.section.world
				.title World
				.coming-soon coming soon
	#wrapper
		#intro-pg(ng-hide="identity.isAuthenticated()")
			#signupSection
				.row
					.col-md-8.welcome
						h2 Welcome to One Church for Christ
						h4 Connect, Learn and Fellowship with your church
						h4 Join and be a part of our big family!
					.col-md-4
						.well(ng-include="'/partials/account/signin/signin'")
						.well(ng-include="'/partials/account/signup/signup'")
			#ocfcSection
				a.about About Us
				a.contact Contact Us
		#main-wrapper.pull-right
			#main(ng-view)