//Navigation page

extends ../includes/layout

block main-content
    //4.29.2014 adding header nav bar
    #header.navbar.navbar-default.navbar-fixed-top
        .navbar-header
                        a.navbar-brand(href="/")
        .navbar-collapse.collapse
            //ul.nav.navbar-nav
            //    li
            //        a(href="/") Home
            //    li
            //        a(href="/courses") Courses

            div.toolbar-search(ng-show="identity.isAuthenticated()")
                i.glyphicon.glyphicon-search
                input.form-control(type='search', placeholder='search')
            div.toolbar-language(ng-show="identity.isAuthenticated()")
                i.glyphicon.glyphicon-globe
                span English
            div.toolbar-message(ng-show="identity.isAuthenticated()")
                i.glyphicon.glyphicon-comment
            div.toolbar-notification(ng-show="identity.isAuthenticated()")
                i.glyphicon.glyphicon-bell
            div(ng-include="'/partials/account/navbar-login'")
    //4.29.2014 adding header nav bar ends


    //.navbar.navbar-inverse.navbar-fixed-top
    //    .container
    #wrapper
        #intro-pg(ng-hide="identity.isAuthenticated()")
           h1 Welcome to One Christ for Christ

        #sidebar-wrapper
            #sidebar
                ul.nav.list-group
                  li
                    a.list-group-item(href='/personalGrowth')
                      i.icon-home.icon-1x
                      | Personal Growth
                  li
                    a.list-group-item(href='/createFellow')
                      i.icon-home.icon-1x
                      | Fellowship
                      span.glyphicon.glyphicon-plus
                      | Create

                  li.sub-menu
                    a.list-group-item(href='/joinFellow')
                      i.icon-home.icon-1x
                      span.glyphicon.glyphicon-plus
                      | Join

                  .myApprvFellows-wrapper(ng-repeat='myApprvFellow in initObj.myFellowships')
                      li.sub-menu
                        a.list-group-item(href='/fellowship/{{myApprvFellow._id}}')
                          i.icon-home.icon-1x
                          | {{myApprvFellow.name}} {{myApprvFellow.zipcode}}

                  li
                    a.list-group-item(href='/church')
                      i.icon-home.icon-1x
                      | Church
                  li
                    a.list-group-item(href='/world')
                      i.icon-home.icon-1x
                      | World
        #main-wrapper.pull-right
            #main(ng-view)


    //section.content
    //    div(ng-view)

    //footer.container.text-center
    //    p &copy; 2014 One Church for Christ Corp International Ltd.