//Navigation page
//index.jade
extends ../includes/layout

block main-content
	#global-header
		.gh-content
			a.gh-tab.brand(href="/")
			.gh-tab.explore(href="/",ng-click='exploreDropDown = !exploreDropDown', ng-show='IdentitySvc.currentUser')
				|Explore
				span.icon.explore.animate-icon(ng-show="!exploreDropDown")
				span.icon.cross.animate-icon(ng-show='exploreDropDown', ng-cloak, class="ng-cloak")
			a.gh-tab.notification(href="/",ng-click='notificationFlyout = !notificationFlyout',ng-show='IdentitySvc.currentUser',bs-popover,data-placement="bottom",
									data-template='partials/common/profile_popover')
			div.gh-tab.account(href="/",ng-click='profileFlyout=!profileFlyout',ng-show='IdentitySvc.currentUser',bs-popover,data-placement="bottom",
									data-template='partials/common/profile_popover', data-auto-close="1" ng-click="")
	#explore-menu.animate-show(ng-show='exploreDropDown' ng-cloak, class="ng-cloak")
		.em-content(ng-class='{hide: hideExploreContent}')
			.section.personal
				.title Personal
				.description This is your personal space more text to take up space.
				.find-group Go to My Personal Page >
			.section.fellowship
				.title Fellowship
				a.group 提摩太團契
				.find-group Find a Fellowship >
				a.find-group(href='/createFellowship',ng-click='exploreDropDown = !exploreDropDown') Create Fellowship >
			.section.church
				.title Church
				a.group 山景城基督徒會堂
				.find-group Find a Church >
			.section.world
				.title World
				.coming-soon coming soon			
	#wrapper(ng-view)
			#ocfcSection
				a.about About Us
				a.contact Contact Us