#first-timer
	carousel(interval="-1")
		slide
			.jumbotron.vertical-center
				.image-upload.container
					.row
						.col-xs-3
							.image-upload__img.pull-right(ng-style="{'background-image':backgroundImgPath}")
						.col-xs-9
							.row.col-xs-12
									h3.image-upload__header.text-black Upload Your Profile Picture
							.row
								.col-xs-5
									button.btn.btn-sm.btn-primary(href='#', ng-file-select='onFileSelect($files)', data-multiple='false', title='profile', onclick='this.value = null') CHOOSE YOUR PHOTO
								.col-xs-7
									a.image-upload__skip.pull-left Skip this and do later >
					.row
						.image-upload__img-progress(ng-style="{'width':progress +'%'}")
		slide
			.jumbotron.vertical-center
				.welcome-msg.container
					.row
						.col-xs-12
							h2.text-black.pull-left Welcome Kenny Chung!
					.row
						.col-xs-12
							h5.text-black.pull-left 歡迎你加入我們，你可以在我們的Explore對抗恐懼但開放進口
					.row
						.col-xs-12
							a.welcome-msg__start.text-black.pull-right(ng-click='deleteUserFromValidation()') 開始 》





