form.form-horizontal.signin-section(name="signinForm" ng-controller='SignupCtrl')
	fieldset
		input.form-control(name="email",type="email",placeholder="Email as username",ng-model="email",required)
		input.form-control.password(name="password",type="password",placeholder="Password",ng-model="password",required)
		button.btn.btn-primary.pull-right(ng-click="signin(email,password)") LOG IN
	fieldset.signin-section__additional-setting
		input(type='checkbox', name='rememberMe', value='Remember me',ng-model='rememberMe')
		label Remember me
	fieldset.signin-section__additional-setting
		a(href='#') Forget password?
