//will display title and publish date

.container.top-padding-med
    .pull-right
        form.form-inline
            .form-group
                //Whatever is typed in the ng-model textbox will be
                    updated in the $scope.searchTest.  searchTest is bind
                    to the data
                input.form-control(ng-model="searchTest", placeholder="Filter")
            .form-group.margin-left-med
                //item.value, item.text and sortOptions are referring to controller in mvCourseListCtrl.js
                //default sortOrder by title
                //ng-options will create a dropdown
                //for each of object exist in sortOptions, use the item.text for display, item.value is the actual
                    value used in the form
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    table.table.table-hover.table-striped.table-condensed
        //table head
        thead
            //table row
            tr
                th Title
                th Publish Date
            //table body
            tbody
                //loop through $scope.courses, filter by $scope.searchTest and ordered by $scope.sortOrder
                //tr is table column
                tr(ng-repeat="course in courses | filter:searchTest | orderBy:sortOrder")
                    //table cell
                    td
                        //creates a link that grabs object id from mongoose db
                        //use course.title as title name
                        a(href="/courses/{{course._id}}") {{course.title}}
                    td {{course.published | date}}
