//contains course detail
.container
    h1 {{course.title}}
    .row
        .col-md-6
            //show feature if true
            h3(ng-show="course.featured") Featured
            //show published info
            h3 Published on {{course.published | date}}

        .col-md-6
            .panel.panel-primary
                .panel-heading Tags
                .panel-body
                    //loop thru $scope.course.tags
                    div(ng-repeat="tag in course.tags") {{tag}}