a.header-icons.post(ng-click='displayPost()')
	span.glyphicon.glyphicon-book  Post
a.header-icons.event(href='#')
	span.glyphicon.glyphicon-calendar  Event
a.header-icons.testimony(href='#')
	span.glyphicon.glyphicon-text-width  Testimony
a.header-icons.question(href='#')
	span.glyphicon.glyphicon-question-sign  Question