//landing-page.jade
#landing-page.jumbotron(ng-hide="identity.isAuthenticated()")
	.page-content.container
		.row
			.page-content__welcome.col-md-8
				h2 基督教會聯合網 
				h2 Welcome to One Church for Christ
				h4 Connect, Learn and Fellowship with your church
				h4 Join and be a part of our big family!
			.col-md-4
				.well(ng-include="'/partials/account/signin/signin'")
				.well(ng-include="'/partials/account/signup/signup'")