#standardCol
	.approve.common-section
		.glyphicon.glyphicon-ok
		span To Approve

	.approve-members.members-ui
		.profile
			ocfc-user-image
		.status Seeker
		.detail-info
			.name Mei Zhang
			.description Hi my name is Mei Zhang.  I recently moved to San Francisco all the way from.
			button
				.glyphicon.glyphicon-plus Approve

	.approve-members.members-ui
		.profile
			ocfc-user-image
		.status Seeker
		.detail-info
			.name Mei Zhang
			.description Hi my name is Mei Zhang.  I recently moved to San Francisco all the way from.
			button
				.glyphicon.glyphicon-plus Approve

	.approve-members.members-ui
		.profile
			ocfc-user-image
		.status Seeker
		.detail-info
			.name Mei Zhang
			.description Hi my name is Mei Zhang.  I recently moved to San Francisco all the way from.
			button
				.glyphicon.glyphicon-plus Approve


	.members.common-section
		.glyphicon.glyphicon-ok
		span Members

	.existing-members.members-ui
		.profile
			ocfc-user-image
		.status Believer
		.detail-info
			.name Kenny Chung
			.description Hi my name is Kenny Chung.  I love my wife.
			.join-date Joined 12/14/2013
			.details.glyphicon.glyphicon-list-alt

	.existing-members.members-ui
		.profile
			ocfc-user-image
		.status Believer
		.detail-info
			.name Kenny Chung
			.description Hi my name is Kenny Chung.  I love my wife.
			.join-date Joined 12/14/2013
			.details.glyphicon.glyphicon-list-alt

	.existing-members.members-ui
		.profile
			ocfc-user-image
		.status Believer
		.detail-info
			.name Kenny Chung
			.description Hi my name is Kenny Chung.  I love my wife.
			.join-date Joined 12/14/2013
			.details.glyphicon.glyphicon-list-alt

	.admin.common-section
		.glyphicon.glyphicon-ok
		span Admin
	.admin.members-ui
		.profile
			ocfc-user-image
		.status Admin
		.detail-info
			.name Beland Huang
			.description Hi my name is Beland Huang.  Hi my name is Beland Huang.
			button
				.glyphicon.glyphicon-plus Approve

	.admin.members-ui
		.profile
			ocfc-user-image
		.status Admin
		.detail-info
			.name Beland Huang
			.description Hi my name is Beland Huang.  Hi my name is Beland Huang.
			button
				.glyphicon.glyphicon-plus Approve

	.admin.members-ui
		.profile
			ocfc-user-image
		.status Admin
		.detail-info
			.name Beland Huang
			.description Hi my name is Beland Huang.  Hi my name is Beland Huang.
			button
				.glyphicon.glyphicon-plus Approve