//--http://onechurchforchrist.org/setting--
#setting.jumbotron
	.container.basic-info-edit
		.row
			h4.text-grey.full-width-widget-header-style1.col-md-12 Basic Information
		.row
			.col-md-6
				.form-label FULL NAME {{fullName}}
				input.form-control(ng-model='fullName')
			.basic-info-edit__bday-input.col-md-6
				.form-label DATE OF BIRTH {{birthday}}
				input.form-control(type='text', ng-model='birthday', data-date-format='yyyy-MM-dd', data-date-type='date',data-min-data-min-date="01/01/40" data-max-date="today" data-autoclose="1" name="date" bs-datepicker)
		.row
			.col-md-6
				.form-label EMAIL {{email}}
				input.form-control(ng-model='email')

		.row
			.setting--account-info.col-md-12
				button.btn.btn-primary.pull-right(ng-click='updateUser()',ng-disabled='disableFullName&&disableFullName') UPDATE
				button.btn.btn-default.pull-right.cancel-button CANCEL

	.container.password-edit
		.row
			h4.text-grey.full-width-widget-header-style1.col-md-12 Update Password
		.row
			.col-md-6
				.form-label OLD PASSWORD {{oldPassword}}
				input.form-control(ng-model='oldPassword')
		.row
			.col-md-6
				.form-label NEW PASSWORD {{newPassword}}
				input.form-control(ng-model='newPassword')
		.row
			.col-md-12
				button.btn.btn-primary.pull-right(ng-click='updateUserPassword()') UPDATE

	.container.preference-edit
		.row
			h4.text-grey.full-width-widget-header-style1.col-md-12 Preferences
