//--http://onechurchforchrist.org/setting--

.setting.jumbotron
	.container
		.row
			h4.setting--basic-information__info.text-grey Basic Information
		.row
			.setting--account-info.col-md-6
				.form-label FULL NAME {{fullName}}
				input.form-control(ng-model='fullName')
			.setting--bday-info.col-md-6
				.form-label DATE OF BIRTH {{month}} {{day}} {{year}}
				.dropdown.select-box.month.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown',ng-model='month')
						| Month
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
				.dropdown.select-box.date.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown',ng-model='day')
						| Day
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
				.dropdown.select-box.year.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown',ng-model='year')
						| Year
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
		.row
			.setting--account-info.col-md-6
				.form-label EMAIL {{email}}
				input.form-control(ng-model='email')

		.row
			.setting--account-info.col-md-12
				button.btn.btn-primary.pull-right(ng-click='updateUser()',ng-disabled='disableFullName&&disableFullName') UPDATE
				button.btn.btn-default.pull-right.cancel-button CANCEL

		.row
			h4.setting--password-information.info.text-grey Update Password
		.row
			.setting--account-info.col-md-6
				.form-label OLD PASSWORD {{oldPassword}}
				input.form-control(ng-model='oldPassword')
		.row
			.setting--account-info.col-md-6
				.form-label NEW PASSWORD {{newPassword}}
				input.form-control(ng-model='newPassword')
		.row
			.setting--account-info.col-md-12
				button.btn.btn-primary.pull-right(ng-click='updateUserPassword()') UPDATE

		.row
			h4.setting--preference-information__info.text-grey Preferences
