.jumbotron.setting
	.container
		.row
			h4.basic-information.text-grey Basic Information
		.row
			.account-info.col-md-6
				.form-label FULL NAME
				input.form-control
			.bday-info.col-md-6
				.form-label DATE OF BIRTH
				div.dropdown.select-box.month.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown')
						| Month
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
				div.dropdown.select-box.date.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown')
						| Date
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
				div.dropdown.select-box.year.inline
					button.btn.text-grey(focus-when='focusStates["Campaign Dates"]', type='button', data-toggle='dropdown')
						| Year
						span.caret
					ul.dropdown-menu.text-right
						li(ng-repeat='choice in form.campaignLengthOptions')
							a(ng-click='$parent.onChangeNumWeeks(choice)') {{choice}}
		.row
			.account-info.col-md-6
				.form-label EMAIL
				input.form-control
		.row
			.account-info.col-md-6
				.form-label PASSWORD
				input.form-control
		.row
			.account-info.col-md-12
				button.btn.btn-primary.pull-right UPDATE
				button.btn.btn-default.pull-right.cancel-button CANCEL
