//activate.jade
#activate.jumbotron.vertical-center
	.container
		.activate-success(ng-show="display")
			.activate-success__first-timer-section
				img(ng-src='/css/images/ocfc_logo.png')
				.label Your account has been activated, please sign in
			.well.activate-success__signin(ng-include="'/partials/account/signin/signin'")
		.activate-failure(ng-show="!display")
			h1 Your activation did not work, please try again.

