.jumbotron.vertical-center
	.container.ocfc-logo
		.row
			.col-xs-12
				h2.instruction-label.text-black.pull-right.positioning Thank you for Registering!
		.row
			.col-xs-12
				h5.description.text-black.pull-right.positioning Please check your email to activate your account

