//--http://onechurchforchrist.org/registrationComplete--
.vertical-center.jumbotron
	.container.registration-msg
		.row
			.col-xs-12
				h2.registration-msg__thank-you.text-black.pull-right Thank you for Registering!
		.row
			.col-xs-12
				h5.registration-msg__check-email.text-black.pull-right Please check your email to activate your account

