doctype html
html
    head
        title OCFC
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/general.css")
        link(rel="stylesheet", href="/css/navbar-login.css")
        link(rel="stylesheet", href="/css/index.css")
        link(rel="stylesheet", href="/css/member.css")
        link(rel="stylesheet", href="/css/create-fellow.css")
        link(rel="stylesheet", href="/css/fellowship.css")
    body(ng-app='app' ng-controller='mvCommonCtrl')
        //include currentUser file
        include currentUser
        block main-content
        //include scripts file
        include scripts





