//layout.jade
doctype html
html
	head
		title OCFC
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")

		link(rel="stylesheet", href="/css/angular-motion.min.css")
		link(rel="stylesheet",href="/css/leaflet.css")
		script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
		link(rel="stylesheet", href="/css/main.css")
		meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1')


	body(ng-app='app' ng-controller='MainCtrl')
		//include currentUser file
		include currentUser
		block main-content
		//include scripts file
		include scripts





