//This file contains all script dependencies need for the project

script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")

script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/angular-upload/angular-upload.js")
script(type="text/javascript", src="/vendor/angular-file-upload/angular-file-upload.js")
script(type="text/javascript", src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/directives/ngThumb.js")
script(type="text/javascript", src="/app/main/mvMainCtrl.js")

script(type="text/javascript", src="/app/common/NotifierSvc.js")
script(type="text/javascript", src="/app/common/SetupSvc.js")
script(type="text/javascript", src="/app/common/CommonCtrl.js")

script(type="text/javascript", src="/app/account/IdentitySvc.js")
script(type="text/javascript", src="/app/account/AuthSvc.js")
script(type="text/javascript", src="/app/account/UserSvc.js")
script(type="text/javascript", src="/app/account/mvSignupCtrl.js")
script(type="text/javascript", src="/app/account/ProfileCtrl.js")
script(type="text/javascript", src="/app/account/ocfc-signin.js")
script(type="text/javascript", src="/app/account/ocfc-user-dropdown-menu.js")
script(type="text/javascript", src="/app/account/ocfc-profile-form.js")

script(type="text/javascript", src="/app/admin/UserListCtrl.js")

script(type="text/javascript", src="/app/courses/CourseListCtrl.js")
script(type="text/javascript", src="/app/courses/CourseSvc.js")
script(type="text/javascript", src="/app/courses/CachedCoursesSvc.js")
script(type="text/javascript", src="/app/courses/CourseDetailCtrl.js")

script(type="text/javascript", src="/app/fellowship/FellowMemSvc.js")
script(type="text/javascript", src="/app/fellowship/JoinFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/FellowshipSvc.js")
script(type="text/javascript", src="/app/fellowship/PostSvc.js")
script(type="text/javascript", src="/app/fellowship/FellowshipCtrl.js")
script(type="text/javascript", src="/app/fellowship/MemberCtrl.js")
script(type="text/javascript", src="/app/fellowship/CreateFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/ApprvFellowCtrl.js")
script(type="text/javascript", src="/app/fellowship/mvFellowPhotoCtrl.js")
script(type="text/javascript", src="/app/fellowship/FellowResourceCtrl.js")

script(type="text/javascript", src="/app/calendar/EventCtrl.js")