//Display course names
.panel.panel-primary
    .panel-heading.text-center Featured Courses
    .panel-body
        //This markup is controlled by mvMainCtrl.js
        //courses comes from $scope directive
        //ng-repeat is a loop that will traverse each course object in the courses array
        .row(ng-repeat="course in courses | filter: {featured:true}")
            .col-md-12
                //Goes to a new path
                //It grabs title object from course
                a(href="/courses/{{course._id}}") {{course.title}}

