.container.album-image-page
	.row.album-img-page__tool-bar
		.col-xs-12
			div.glyphicon.glyphicon-home
			div.tool-bar__fellow-name {{FellowshipDataSvc.fellowship.name| capitalize}}
			div.tool-bar__links
				a(ng-href="#", ng-click="goto('')") Home
				a(ng-href="#", ng-click="goto('members')") Members
				a(ng-href="#", ng-click="goto('albums')") Albums
				a(ng-href="#") Resource
			a.tool-bar_setting.glyphicon.glyphicon-cog(ng-href="#")
	.row
		.col-xs-12.column
			div.album-header
			div.album-header__photos.text-black Photos {{AlbumDataSvc.album.album.name}} {{AlbumDataSvc.album.album.description}} {{AlbumDataSvc.album.album.location}}
	.row
		.col-xs-12.edit-column
			button.deleteAlbum.text-black.pull-right(ng-click='deleteAlbum()') Delete Album
			button.edit.text-black.pull-right(ng-click='updateAlbum()') Update Album
	.row(ng-show='!selectedAlbum')
		.col-xs-12.album-img-section
			div.album-img-section
				div.title.text-black Album Title:
				input.album-input.text-black(ng-model='AlbumDataSvc.album.album.name')
				div.title.text-black Album Description:
				input.album-input.text-black(ng-model='AlbumDataSvc.album.album.description')
				div.title.text-black Album Location:
				input.album-input.text-black(ng-model='AlbumDataSvc.album.album.location')
			div.album-img-section__album-img-upload(ng-repeat='image in AlbumDataSvc.albumImages')
				img.album-img-section__image(ng-src='https://res.cloudinary.com/ocfc/image/upload/w_248,h_192,c_fill,g_faces/{{image.path}}')
				div.album-img-section__name.text-black Title: {{image.caption}}
				div.album-img-section__created-on.text-black Created On: {{image.createdOn | date}}
				span.glyphicon.glyphicon-trash.album-img-section__remove-img.text-black(ng-click='removeImage(image)')