//album.jade
.jumbotron
	.container
		.row
			.col-md-12.column
				div.album-header
					div.album-header__photos.text-black Photos
						div
							div.album-header__font-size.text-black Fellowship Photos
							div.album-header__font-size.text-black Albums
		.row
			.col-md-12
				div.album-section
					div.album-section__album-upload(ng-click='createAlbum()',ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null')
					div.album-section__plus.text-dark-grey(ng-click='createAlbum()',ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null') +
					div.album-section__add-album.text-dark-grey(ng-click='createAlbum()',ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null') Create Album


.album-input__media(ng-if="files.length>0")
	.create-album-header
		div.create-album-header__title.text-dark-grey Create Album
		button.create-album-header__add.text-dark-grey.pull-right(ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null') + Add More Photos
		div.create-album-header__close X
	.row
		.album-section-left.col-md-4
			div
				textarea.album-section-left__title(placeholder='Untitled Album',ng-model='name')
				textarea.album-section-left__description(placeholder='Say something about this album',ng-model='description')
			textarea.album-section-left__location(placeholder='Where were these taken?')
			button.album-section-left__post.text-dark-grey Post
		.album-inner-right.col-md-8
			ocfc-upload-album-image(file="file", files="files", image-array="imageArray", image-objs="imageObjs", cloudinary-params="cloudinarySignedParams", ng-repeat='file in files',name='name',description='description')
			.album-inner-right__upload-image(ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null')
			div.glyphicon.glyphicon-plus.album-inner-right__more(ng-file-select='createAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null')



