//album.jade
.container.album-page
	.row.album-page__tool-bar
		.col-xs-12
			div.glyphicon.glyphicon-home
			div.tool-bar__fellow-name {{FellowshipDataSvc.fellowship.name| capitalize}}
			div.tool-bar__links
				a(ng-href="#", ng-click="goto('')") Home
				a(ng-href="#", ng-click="goto('members')") Members
				a(ng-href="#", ng-click="goto('albums')") Albums
				a(ng-href="#") Resource
			a.tool-bar_setting.glyphicon.glyphicon-cog(ng-href="#")
	.row
		.col-xs-12.column
			div.album-header
				div.album-header__photos.text-black Photos
					div
						div.album-header__font-size.text-black Fellowship Photos
						div.album-header__font-size.text-black Albums
	.row
		.col-xs-12.album-section
			div.album-section
				div.album-section__album-img-upload(ng-repeat='album in albums')
					a(href="/fellowship/{{fellowshipId}}/album/{{album._id}}")
						img.album-section__image(ng-src='https://res.cloudinary.com/ocfc/image/upload/w_248,h_192,c_fill,g_faces/{{album.imageIds[0].path}}')
						div.album-section__name.text-black Title: {{album.name}}
						div.album-section__description.text-black Description: {{album.description}}
						div.album-section__created-by.text-black Created By: {{album.createdBy.fullName}}
						div.album-section__created-on.text-black Created On: {{album.createdOn | date}}
				div.album-section__album-upload(ng-file-select='openAlbum($files)', data-multiple='false', title='profile', onclick='this.value = null')
					div.album-section__plus.text-dark-grey +
					div.album-section__add-album.text-dark-grey Create Album

ocfc-album-input(ng-if="files.length>0",files='files',image-array='imageArray',image-objs='imageObjs',cloudinary-params='CloudinaryDataSvc.cloudinarySignedParams',albums='albums')
