//album.jade
.jumbotron
	.container
		.row
			.col-md-12.column
				div.header
					div.photos.text-black Photos
						div
							div.album.font-size.text-black Albums
							div.photos-of-you.font-size.text-black Photos of You
							div.your-photos.font-size.text-black Your Photos
					div.buttons
						button.create-album.button.text-black Create Album
						button.add-photos.button.text-black Add Photos
						button.add-video.button.text-black	Add Video
						span.glyphicon.glyphicon-pencil.edit
		.row
			.col-md-12
				div.album-section
					div.album-upload
					div.plus.text-dark-grey +
					div.add-album.text-dark-grey Create Album
